.btncolor {
    color: #ab8405 !important;
    border-color: #ab8405 !important;
    border-radius: 0;
    text-transform: none;
    font-weight: 400;
    font-size: 14px;
    visibility: hidden;
    width: 80%;
    margin-top: 30px !important;
    outline: none !important;
}

.explore_btn {
    color: black !important;
    border-color: black !important;
    border-radius: 0;
    text-transform: none;
    font-weight: 400;
    font-size: 14px;
    visibility: visible;
    width: 80%;
    margin-top: 30px !important;
    outline: none !important;
}

.main_card:hover .btncolor {
    visibility: visible !important;
    color: #ab8405;
}

.main_card {
    width: 500px !important;
}

.margintopbtm {
    margin: 80px 0px 50px 0px;
}

.explore_btn:hover {
    background-color: #ab8405 !important;
    color: white !important;
    border-color: #ab8405 !important;
}

.image {
    height: 100%;
    width: 100%;
}

.imageCol {
    padding: 70px;
}

/* .image:hover .imageCol {
    padding: 80px !important
} */
.paragraph {
    padding: 0px 50px;
}

.desc_detail {
    background: #636363;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ab84057f, white);
    background: -webkit-linear-gradient(to bottom, #ab84057f, white);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ab84057f, white);
    background: linear-gradient(to bottom, #ab84057f, white);
}

.desc_detail_rev {
    background: #636363;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, white, #ab84057f);
    background: -webkit-linear-gradient(to bottom, white, #ab84057f);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, white, #ab84057f);
    background: linear-gradient(to bottom, white, #ab84057f);
}