.policies {
  height: 3350px;
}

.public-DraftStyleDefault-block {
  font-family: 'Open Sans';
  line-height: 19px;

  /* headings */

  color: #3d4a52;
}

.policiesHeader {
  position: absolute;
  /* width: 76px; */
  height: 27px;
  left: 839px;
  top: 197px;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 37px;

  /* headings */

  color: #3d4a52;
}
.governingdes {
  position: absolute;
  left: 839px;
  top: 254px;
  border-radius: 2px;
  width: 420px;
}
.governingtitle {
  text-align: left;
  border-bottom-style: 1px solid #9aa1a9;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #3d4a52;
  margin-bottom: 5px;
}

.filegovlaw .filesupload {
  position: absolute;
  width: 420px;
  height: 218px;
  left: 119px;
  top: 362px;
  background: #ffffff;
  border: 1px dashed #d8af28;
  border-radius: 2px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;
  /* sub-headings */

  color: #a3b0b8;
}
.filegovlaw .filename {
  position: absolute;
  width: 420px;
  height: 18px;
  left: 827px;
  top: 758px !important;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #a3b0b8;
}

.filegovlaw .oversizemb {
  position: absolute;
  width: 420px;
  height: 18px;
  left: 827px;
  top: 820px;
  color: #ff3d00 !important;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
}

.warrantiesdes {
  position: absolute;
  width: 420px;
  height: 78px;
  left: 839px;
  top: 860px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 49px;
  color: #3d4a52;
}
.warrantiestitle {
  text-align: left;
  border-bottom-style: 1px solid #9aa1a9;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #3d4a52;
  margin-bottom: 5px;
}

.filewarranties .filesupload {
  position: absolute;
  width: 420px;
  height: 218px;
  left: 119px;
  top: 956px;
  background: #ffffff;
  border: 1px dashed #d8af28;
  border-radius: 2px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;
  /* sub-headings */

  color: #a3b0b8;
}
.filewarranties .filename {
  position: absolute;
  width: 420px;
  height: 18px;
  left: 827px;
  top: 1378px !important;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #a3b0b8;
}

.filewarranties .oversizemb {
  position: absolute;
  width: 420px;
  height: 18px;
  left: 827px;
  top: 1438px;
  color: #ff3d00 !important;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
}

.liabiltydes {
  position: absolute;
  width: 420px;
  left: 839px;
  top: 1475px;
  border-radius: 2px;
  line-height: 47px;
}
.liabiltytitle {
  text-align: left;
  border-bottom-style: 1px solid #9aa1a9;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #3d4a52;
  margin-bottom: 5px;
}
.fileliabilty .filesupload {
  position: absolute;
  width: 420px;
  height: 218px;
  left: 119px;
  top: 1536px;
  background: #ffffff;
  border: 1px dashed #d8af28;
  border-radius: 2px;
}
.fileliabilty .filename {
  position: absolute;
  width: 420px;
  height: 18px;
  left: 827px;
  top: 1978px !important;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #a3b0b8;
}

.fileliabilty .oversizemb {
  position: absolute;
  width: 420px;
  height: 18px;
  left: 827px;
  top: 2035px;
  color: #ff3d00 !important;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
}
.privacydes {
  position: absolute;
  width: 420px;
  left: 839px !important;
  top: 2073px !important;
}
.privacytitle {
  text-align: left;
  border-bottom-style: 1px solid #9aa1a9;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #3d4a52;
  margin-bottom: 5px;
}
.fileprivacy .filesupload {
  position: absolute;
  width: 420px;
  height: 218px;
  left: 119px;
  top: 2110px;
  background: #ffffff;
  border: 1px dashed #d8af28;
  border-radius: 2px;
}
.fileprivacy .filename {
  position: absolute;
  width: 420px;
  height: 18px;
  left: 827px;
  top: 2578px !important;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #a3b0b8;
}
.fileprivacy .oversizemb {
  position: absolute;
  width: 420px;
  height: 18px;
  left: 827px;
  top: 2638px;
  color: #ff3d00 !important;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
}
.termdes {
  position: absolute;
  width: 420px;
  left: 839px !important;
  top: 2680px !important;
}
.termtitle {
  text-align: left;
  border-bottom-style: 1px solid #9aa1a9;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #3d4a52;
  margin-bottom: 5px;
}
.termprivacy .filesupload {
  position: absolute;
  width: 420px;
  height: 218px;
  left: 119px;
  top: 2689px;
  background: #ffffff;
  border: 1px dashed #d8af28;
  border-radius: 2px;
}

.termprivacy .filename {
  position: absolute;
  width: 420px;
  height: 18px;
  left: 827px;
  top: 3178px !important;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #a3b0b8;
}
.termprivacy .oversizemb {
  position: absolute;
  width: 420px;
  height: 18px;
  left: 827px;
  top: 3240px;
  color: #ff3d00 !important;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
}
.policiesbtn {
  position: absolute;
  width: 420px;
  height: 42px;
  left: 329px;
  top: 3030px;

  background-color: #c09507 !important;
  border-radius: 2px;
  text-transform: capitalize !important;
  box-shadow: none;
}

.policiesbtn:hover {
  background-color: #ab8405 !important;
}

.disablepoliciesbtn {
  position: absolute;
  width: 420px;
  height: 42px;
  left: 329px;
  top: 3030px;

  background: #ffffff;
  border-radius: 2px;
  text-transform: capitalize !important;
}
.finishlaterpoliciesbtn {
  box-sizing: border-box;
  position: absolute;
  width: 420px;
  height: 42px;
  left: 329px;
  top: 3060px;
  background: #ffffff;
  border: 1px solid #c09507 !important;
  border-radius: 2px;
  color: #585d60 !important;
  font-family: 'Open Sans' !important;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  text-transform: capitalize !important;
}
.govlawprogress {
  position: absolute;
  width: 275px;
  height: 6px;
  left: 897px;
  top: 790px;
}
.govupclose {
  position: absolute;
  left: 1200px;
  top: 778px;
}
.warrantyprogress {
  position: absolute;
  width: 275px;
  height: 6px;
  left: 897px;
  top: 1410px;
}
.warrantyclose {
  position: absolute;
  left: 1200px;
  top: 1397px;
}
.liabiltyprogress {
  position: absolute;
  width: 275px;
  height: 6px;
  left: 897px;
  top: 2010px;
}
.liabiltyclose {
  position: absolute;
  left: 1200px;
  top: 2000px;
}
.privacyprogress {
  position: absolute;
  width: 275px;
  height: 6px;
  left: 897px;
  top: 2610px;
}
.privacyclose {
  position: absolute;
  left: 1200px;
  top: 2598px;
}
.tosprogress {
  position: absolute;
  width: 275px;
  height: 6px;
  left: 897px;
  top: 3210px;
}
.tosclose {
  position: absolute;
  left: 1200px;
  top: 3198px;
}
/* .policiesSpace {
  margin-bottom: 100px;
}
.finish-later-button {
  margin-bottom: 100px;
} */

/*.form-alignment{

  margin-bottom: 10%;
}*/

.toolbarConfig {
  text-align: left;
}
.footerimg2 {
  position: absolute;
  width: 148.92px;
  height: 126.01px;
  left: 1300.09px;
  top: 3350px;
}
