.profileheader {
  position: absolute;
  width: 141px;
  height: 27px;
  left: 839px;
  top: 197px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #3d4a52;
}
.profilefirstname {
  position: absolute;
  width: 420px;
  height: 48px;
  left: 839px;
  top: 244px;
  border-radius: 2px;
}
.profilelastname {
  position: absolute;
  width: 420px;
  height: 48px;
  left: 839px;
  top: 323px;
  border-radius: 2px;
}
.profileemail {
  position: absolute;
  width: 420px;
  height: 48px;
  left: 839px;
  top: 402px;
  border-radius: 2px;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;

  color: #000000;

  opacity: 0.5;
  
}

.profilenumber {
  position: absolute;
  width: 420px;
  height: 48px;
  left: 839px;
  top: 480px;
  border-radius: 2px;
}
.profilebtn {
  box-sizing: border-box;
  position: absolute;
  width: 420px;
  height: 42px;
  left: 329px;
  top: 458px;
  border: 1px solid #c09507 !important;
  border-radius: 2px;
  background-color: #c09507 !important;
  text-transform: capitalize !important;
  box-shadow: done;
}

.profilebtn:hover {
  background-color: #ab8405 !important;
}

.disableprofilebtn {
  box-sizing: border-box;
  position: absolute;
  width: 420px;
  height: 42px;
  left: 329px;
  top: 458px;
  background: #ffffff;
  opacity: 0.5;
  border: 1px solid #c09507 !important;
  border-radius: 2px;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  color: #585d60 !important;
  text-transform: capitalize !important;
}
.finishlaterbtn {
  position: absolute;
  width: 420px;
  height: 42px;
  left: 329px;
  top: 500px;
  background: #ffffff;
  border: 1px solid #c09507 !important;
  border-radius: 2px;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;
  text-transform: none !important;

  color: #585d60 !important;
}
css-1xab92c-MuiInputBase-root-MuiFilledInput-root:focus {
  border-bottom-color: rgba(0, 0, 0, 0.42);
}

/* upload css */
.profileimg .filesupload {
  position: absolute;
  width: 420px;
  height: 218px;
  left: 119px;
  top: 408px;
  background: #ffffff;
  border: 1px dashed #d8af28;
  border-radius: 2px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;

  /* sub-headings */

  color: #a3b0b8;
}
.profileimg .filename {
  position: absolute;
  width: 420px;
  height: 18px;
  left: 827px !important;
  top: 845px !important;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: center;

  /* sub-headings */

  color: #a3b0b8;
}
.profileimg .uploadheader {
  position: absolute;
  width: 100%;
  height: 19px;
  /* left: 1008px;
  top: 898px; */
  margin-top: 20px;
  /* padding-left: 20px; */
  text-align: center !important;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;

  /* headings */

  color: #3d4a52;
}
.profileimg .uploadimg {
  margin-top: 65px;
}
.profileimg .imguploadbtn {
  border: none;
  background-color: inherit;
  /* padding: 14px 28px; */
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  padding-top: 5px;
}
.profileimg .info {
  color: dodgerblue;
  text-decoration: underline;
  font-size: 14px;
}

.profileimg .profileimgprogress {
  position: absolute;
  width: 275px;
  height: 6px;
  left: 897px;
  top: 810px;
  font-size: 10px;
  line-height: 14px;
/* identical to box height */
  color: #3491EE;
}
.profileimg .profileimageprogresstext{
  font-size: 12px;
  margin-top: 10px;
}
.profileimg.profileimageuploadclosebutton {
  position: absolute;
  left: 1200px;
  top: 800px;
}
.profileimg .oversizemb {
  position: absolute;
  width: 420px;
  height: 18px;
  left: 827px;
  top: 870px;
  color: #ff3d00 !important;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}
.footerimg{
  top: 1100px;
}