.buttonContainer {
  margin: 50px 0;
  justify-content: center;
  display: flex;
  /* padding: 25px 0px; */
}

.loadMoreButton {
  padding: 15px 30px !important;
}

.datasets_card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 24px;
  margin: 0 auto;
}
.dataset_flex {
  display: flex;
  justify-content: center;
}
.mt_25 {
  margin-top: 25px !important;
}
@media only screen and (max-width: 600px) {
  .datasets_card {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
  .datasets_card {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 22px;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1200px) {
  .datasets_card {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 22px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1650px) {
  .datasets_card {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 22px;
  }
}

@media only screen and (min-width: 1650px) {
  .datasets_card {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 18px;
  }
}
