altair==5.3.0
altgraph==0.17.2
async-timeout==4.0.3
attrs==23.2.0
blinker==1.7.0
cachetools==5.3.3
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
contourpy==1.2.1
cycler==0.12.1
fonttools==4.51.0
future==0.18.2
gitdb==4.0.11
GitPython==3.1.43
idna==3.7
importlib_resources==6.4.0
Jinja2==3.1.3
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
kiwisolver==1.4.5
macholib==1.15.2
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.8.4
mdurl==0.1.2
mysql-connector-python==8.3.0
numpy==1.26.4
packaging==24.0
pandas==2.2.2
pillow==10.3.0
plotly==5.22.0
prettytable==3.10.0
protobuf==4.25.3
pyarrow==16.0.0
pydeck==0.8.1b0
pyecharts==2.0.5
Pygments==2.17.2
pyparsing==3.1.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
redis==5.0.4
referencing==0.35.0
requests==2.31.0
rich==13.7.1
rpds-py==0.18.0
simplejson==3.19.2
six==1.15.0
smmap==5.0.1
streamlit==1.33.0
streamlit-echarts==0.4.0
tenacity==8.2.3
toml==0.10.2
toolz==0.12.1
tornado==6.4
typing_extensions==4.11.0
tzdata==2024.1
urllib3==2.2.1
wcwidth==0.2.13
zipp==3.18.1
psycopg2-binary==2.9.1