@import url("../../Assets/CSS/global.module.css");

/* Add New Card */
.addNewCard {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  text-align: center;
  margin: 21px 0px 21px 0px;
}

.addNewCardText {
  margin-top: 11px;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #000000;
}

/* CardView */
.published {
  text-align: left;
  margin: 21px 0px 0px 20px !important;
}

.publishedText {
  font-family: "Avenir";
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #9ba0a7;
  margin-left: 7px;
}

.contentTitle {
  font-family: "Montserrat" !important;
  font-weight: 700 !important;
  font-size: 24px !important;
  line-height: 30px !important;
  color: #00a94f !important;
  text-align: left !important;
  margin: 21px 0px 0px 20px !important;
  white-space: nowrap;
  width: 279px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.organisation {
  text-align: left;
  margin: 5px 0px 0px 20px !important;
  display: flex;
  align-items: center;
}

.organisationText {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  margin-left: 7px;
}

.contentText {
  display: flex;
  text-align: left;
  margin: 20px 0px 20px 20px !important;
}

.contentText2 {
  margin-left: 32px;
}

.contentLightText {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.contentBoldText {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

/* ListView */
.listViewTitle {
  font-family: "Montserrat" !important;
  font-weight: 600 !important;
  font-size: 16px !important;
  line-height: 24px !important;
  color: #000000 !important;
}

.listViewText {
  font-family: "Montserrat" !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 22px !important;
  color: #000000;
}

.listViewName {
  white-space: nowrap;
  width: 183px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.lightTextTitle {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #212b36;
}

.firstCol {
  flex: 0 0 28.33%;
}

.secondCol {
  flex: 0 0 23.33%;
}

.fourthCol {
  flex: 0 0 12.33%;
}

/* connector title view */
.boldTitle {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: #000000;
  margin-top: 50px;
  text-align: left;
}

/* card */
.connectorCard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 24px;
  margin: 0 auto;
}

.mr45 {
  margin-right: 45px !important;
}
.loadMoreButton {
  padding: 15px 30px !important;
}

.buttonContainer {
  margin: 50px 0;
  justify-content: center;
  display: flex;
}
.containerMain {
  margin-left: 144px;
  margin-right: 144px;
  text-align: left;
}
.section {
  margin-top: 100px !important;
}
.textRow {
  margin: 15px 0 30px 0;
}
@media only screen and (max-width: 600px) {
  .connectorCard {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
  .connectorCard {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 22px;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1200px) {
  .connectorCard {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 22px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1650px) {
  .connectorCard {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 22px;
  }
}

@media only screen and (min-width: 1650px) {
  .connectorCard {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 18px;
  }
}
