.backButtonMainDiv {
  display: flex;
  /* margin-left: 290px; */
  /* justify-content: space-between; */
  color: #3491ee !important;
  align-items: center;
  cursor: pointer;
}

.backArrowIcon {
  width: 16px;
  height: 16px;
  margin-right: 14px;
  cursor: pointer;
  color: #3491ee !important;
}




.legalButton:hover {
  text-decoration: underline !important;
}