.title {
  text-align: left;
  padding-left: 15px;
  margin: 10px 0 !important;
}
.chipsListItem {
  width: auto !important;
}
.emailFieldContainer {
  margin: 50px 0;
}

.chipsListItem > div {
  background-color: white;
  border: 1px solid #00a94f;
  color: #00a94f;
}
.chipsContainer {
  justify-content: flex-start !important;
}
.customTextFieldError {
  animation: shake 0.2s ease-in-out 0s 2 !important;
  box-shadow: 0 0 0.5em red !important;
}
.RTEClassName {
  width: 100%;
}
.RTEClassName > div:first-child {
  justify-content: flex-start;
  display: flex;
}
.backButton {
  /* margin-top: 50px !important;
    margin-bottom: 50px !important; */
  margin: 0 15px !important;
}
.backButtonContainer {
  display: flex;
  flex-direction: row-reverse;
  padding: 50px 0;
}
.borderNone {
  border: none !important;
  margin: 0 15px !important;
}
.primary_button {
  margin: 0 15px !important;
  padding: 10px 35px !important;
}
