.datasetsMainBox {
  display: flex;
  flex-direction: column;
  width: 640px;
  height: 368px;
  border-radius: 10px;
  border: 1px solid #e4e4e4;
  /* padding: 20px; */
  /* justify-content: left; */
}
.datasetsHeading {
  text-align: left;
  font-size: 20px;
  color: #3d4a52;
  font-weight: 700;
  padding-left: 20px;
  padding-top: 20px;
  display: flex;
}

.datasetsChartBox {
  /* border: 1px solid grey; */
  width: 640px;
  /* display: flex; */
  /* border: 1px solid red; */
  /* justify-content: left; */
  /* text-align: left; */
}
.datasetSideMenu {
  display: flex;
  flex-direction: column;
}

.datasetSideMenuEachData {
  display: flex;
  justify-content: left;
  margin-bottom: 23px;
  align-items: center;
  /* width: 100%; */
}
.datasetSideMenuTextWithPercent {
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;

  /* text-align: ; */
  /* border: 1px solid blue; */
}

.legendvaluesForPieChart {
  border: 1px solid #00a94f !important;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.1);
}
