.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  line-height: 78px;
  text-align: center;
  color: #585d60;
}

.description {
  font-family: "Montserrat", sans-serif;
  font-weight: 400 !important;
  line-height: 31px;
  text-align: center;
  font-style: italic !important;
  color: #565c63 !important;
  margin-top: 32px;
}

.titleContainer {
  justify-content: center;
}

.title2 {
  margin: 50px 0;
}

.policyDetailsMainContainer {
  width: 100%;
  /* border: 1px solid #00A94F; */
  /* border-radius: 0 0 30px 30px; */
  text-align: left;
  padding: 50px 20px !important;
}

.policyDetailsDescription {
  text-align: left;
  word-wrap: break-word;
}

.backButton {
  /* margin-top: 50px !important;
    margin-bottom: 50px !important; */
  margin: 0 15px !important;
  font-size: 15px !important;
}

.backButtonContainer {
  display: flex;
  flex-direction: row-reverse;
  padding: 50px 0 0 0;
}

.backButtonContainerAlingCenter {
  padding: 50px 0;
}

.backButtonContainerAlingCenter > button {
  margin: auto !important;
  width: 350px;
}

.borderNone {
  border: none !important;
  margin: 0 15px !important;
}

.primary_button {
  margin: 0 15px !important;
  padding: 10px 35px !important;
  font-size: 15px !important;
}

.policyDetailsTitle {
  margin: 0 0 30px 0 !important;
}

.policyTabCol {
  max-width: 260px !important;
  margin-top: 30px;
}

.imgTags {
  margin: 0 9px;
}
