@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");

.container {
  margin: 0px 0px;
  text-align: left;
  padding: 0px 10px;
}

.container_margin {
  text-align: left;
  margin: 25px 144px;
}

.container_marginMd {
  /* margin: 25px 144px; */
  /* margin: 25px 30px; */

  text-align: left;
}

.containerMd {
  margin: 0px 0px;
  text-align: left;
}

.main_container_for_guest {
  margin: 0px 0px;
  text-align: left;
  padding: 0px 0px;
}

.container_mobile {
  margin: 0px 0px;
  text-align: left;
  padding: 0px 0px;
}

.container_tablet {
  margin: 0px 0px;
  text-align: left;
  padding: 0px 0px;
}

.container_desktop {
  margin: 0px 0px;
  text-align: left;
  padding: 0px 0px;
}

.container_large {
  margin: 0px 0px;
  text-align: left;
  padding: 0px 0px;
}

.greenBox {
  justify-content: center;
  height: 40px;
  background: #00a94f;
  border-radius: 6px;
  width: 40px;
  display: flex;
  padding: 8px;
  /* margin: 0 10px; */
}

.micrositeLogo {
  width: 100%;
  /* height: 400px; */
}

.micrositeLogo_mobile {
  width: 100%;
}

.titleContainer {
  margin: 50px auto;
}

.titleContainerSm {
  margin: 50px auto;
}

.titleContainer_tablet {
  margin: 20px auto;
}

.titleContainer_mobile {
  margin: 40px auto;
}

.buttonContainer_tablet {
  padding-bottom: 10px;
}

.cover_btn_container {
  padding: 20px 0px 20px 0px !important;
}

.buttonContainer {
  margin: 50px auto;
  padding-bottom: 10px;
}

.buttonContainer_mobile {
  /* margin: 70px auto; */
  padding-top: 50px;
  padding-bottom: 10px;
}

.title {
  margin: 10px auto;
}

.lastTitle {
  margin: 10px auto;
  line-height: 46px !important;
}

.textDescription {
  line-height: 27px !important;
  margin: 15px auto !important;
  font-size: 16px !important;
  font-style: italic !important;
  color: black !important;
  text-align: left;
}

.textDescription_mobile {
  line-height: 27px !important;
  margin: 15px auto !important;
  font-size: 14px !important;
  font-style: italic !important;
  color: black !important;
  text-align: left;
}

.description {
  line-height: 27px !important;
  /* margin: 15px auto !important; */
  font-size: 16px !important;
  font-style: italic !important;
  color: white !important;
  text-align: left;
  width: 450px;
}

.descriptionSm {
  line-height: 20px !important;
  margin: 15px auto !important;
  font-size: 12px !important;
  font-style: italic !important;
  color: white !important;
  text-align: left;
}

.descriptionMd {
  line-height: 20px !important;
  margin: 15px auto !important;
  font-size: 12px !important;
  font-style: italic !important;
  color: white !important;
  width: 344px !important;
  text-align: left;
}

.descriptionlg {
  line-height: 50px !important;
  margin: 65px auto !important;
  font-size: 36px !important;
  font-style: italic !important;
  color: white !important;
  width: fit-content !important;
  text-align: left;
}

.descriptionXlg {
  line-height: 69px !important;
  margin: 70px auto !important;
  font-size: 30px !important;
  font-style: italic !important;
  color: white !important;
  /* width: 1415px !important; */
  text-align: left;
}

.bgMd {
  height: 373px;
  position: absolute;
}

.scan_button {
  background: none !important;
  background-color: rgba(145, 158, 171, 0.24) !important;
  font-family: Montserrat !important;
  font-style: normal;
  font-weight: 700 !important;
  font-size: 16px !important;
  line-height: 26px;
  outline: none !important;
  border: none !important;
  text-transform: none !important;
  cursor: pointer !important;
  margin: 0px !important;
  color: #000000 !important;
  border-radius: 8px !important;
}

.primaryButton {
  padding: 11px 38px !important;
}

.primaryButton_mobile {
  padding: 11px 38px !important;
  /* margin-top: 40px; */
}

.pointContainer {
  display: flex;
  align-items: center;
  margin: 0 0 50px 0px;
  gap: 20px;
  padding: 0px !important;
}

.pointContainer_mobile {
  display: flex;
  align-items: center;
  margin: 0 0 20px 0px;
  gap: 20px;
  padding: 0px !important;
}

.pointContainer > span {
  line-height: 20px !important;
}

.centeredAlignTitle {
  align-items: center;
  display: flex;
  width: 100%;
  margin: auto !important;
  text-align: center;
  line-height: 39px !important;
}

.centeredButtonContainer {
  margin: auto !important;
}

.gradientContainer {
  position: relative;
  text-align: center;
}

.gradientTextContainer {
  position: absolute;
  top: 92px;
  margin: auto;
  width: 100%;
  display: flex !important;
  justify-content: space-around !important;
  /* padding: 0 144px !important; */
}

.gradientTextContainerMd {
  position: absolute;
  top: 55px;
  margin: auto;
  width: 100%;
  display: flex !important;
  justify-content: space-around !important;
  /* padding: 0 144px !important; */
}

.gradientTextContainerTab {
  position: absolute;
  top: 33px;
  margin: auto;
  width: 100%;
  display: flex !important;
  justify-content: space-around !important;
  /* padding: 0 144px !important; */
}

.gradientTextContainerSm {
  position: absolute;
  top: 33px;
  margin: auto;
  width: 100%;
  display: flex !important;
  justify-content: space-between !important;
  /* padding: 0 144px !important; */
}

.gradientTextContainer .title {
  width: 350px;
  text-align: left;
  margin: auto;
}

.lineheight_39 {
  line-height: 39px !important;
}

.lineheight_27 {
  line-height: 27px !important;
}

.lineheight_78 {
  line-height: 78px !important;
}

.mt45 {
  margin-top: 45px !important;
}

.gradientTextContainer .description {
  line-height: 27px;
  width: 450px;
  text-align: left;
  margin: auto;
}

.viewDatasetButtonContainer {
  text-align: center;
  margin: 50px 0;
}

.viewDatasetButton {
  margin: auto !important;
  padding: 11px 38px !important;
  margin-bottom: 25px !important;
}

.participanttitleContainer .title .description {
  text-align: left !important;
}

.alignLeft {
  justify-content: left;
}

.top_row_in_home {
  /* background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.6) 50%
    ),
    url("../../Assets//Img/kenya/third_home.jpg"); */
  background: #ddf2ff;
  /* background-image: url("../../Assets//Img/kenya/first_home.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  color: white !important;
  position: sticky;
  width: 100vw;
}

.top_row_in_home_mobile {
  /* background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.6) 50%
    ),
    url("../../Assets//Img/kenya/third_home.jpg"); */
  background: #ddf2ff;
  background-repeat: no-repeat;
  background-size: cover;
  color: white !important;
  position: sticky;
  width: 100vw;
  background-size: contain;
}

.modijiImg {
  width: 400px;
}

.card_row_container {
  margin: -45px 40px 0px 40px !important;
}

.insight_card {
  width: 324px;
  height: 170px;
  border-radius: 10px;
  border: 1px;
}

.insight_card_child {
  display: flex;
  align-items: center;
  height: 100%;
  margin-right: 10px;
  margin-left: 10px;
}

.insight_card_text {
  color: #1d1d1d;
  font-family: "Montserrat" !important;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  margin-left: 10px;
}

.image_container {
  width: 100%;
  /* Adjust the width as needed */
  height: 650px;
  /* Adjust the height as needed */
  overflow: hidden;
  /* Hide the parts of the image outside the container */
  margin-top: 25px;
}

.image_container_mobile {
  width: 100%;
  /* Adjust the width as needed */
  overflow: hidden;
  background-size: contain;
  margin-top: 25px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Maintain image aspect ratio */
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  /* Cut from the top by 20% */
}

.image_for_big {
  width: 100%;
  height: 100%;
  object-fit: none;
  /* Maintain image aspect ratio */
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  /* Cut from the top by 20% */
}

/* datasets listing */
.main_box_for_datasets {
  margin: 25px 144px;
}

.main_box_for_datasets_tablet {
  margin: 10px 25px;
}

.main_box_for_datasets_mobile {
  margin: 10px 25px;
}

/* connector listing */
.main_box_for_connector {
  text-align: left;
  margin: 25px 144px;
}

.main_box_for_connector_tablet {
  text-align: left;
  margin: 10px 25px;
}

.main_box_for_connector_mobile {
  text-align: left;
  margin: 10px 25px;
}

@media only screen and (min-width: 301px) {
  .top_row_in_home {
    /* background-size: contain; */
  }

  /* .text_with_typing {
    font-size: 20px !important;
  } */
  /* .text_with_typing_mobile {
    font-size: 14px !important;
  } */
  .top_row_in_home .row {
    margin: 0px !important;
  }
}

/* center_banner */
.center_banner {
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  position: relative;
  background: #00a94f;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 25%,
    rgba(0, 0, 0, 0.6)
  );
  padding: 0px 144px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  margin-top: 25px !important;
}

.center_banner_mobile {
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  position: relative;
  background: #00a94f;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 25%,
    rgba(0, 0, 0, 0.6)
  );
  display: flex;
  /* justify-content: center; */
  gap: 20px;
  align-items: center;
  flex-direction: column;
  padding: 50px 0px;
  margin-top: 25px !important;
}

.center_banner_mobile img {
  width: fit-content !important;
}

.center_banner_tablet {
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  position: relative;
  background: #00a94f;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 25%,
    rgba(0, 0, 0, 0.6)
  );
  padding: 50px 0px;
  margin-top: 25px !important;
}

.center_banner_desktop {
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  position: relative;
  background: #00a94f;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 25%,
    rgba(0, 0, 0, 0.6)
  );
  padding: 0px 120px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  margin-top: 25px !important;
}

.contact_us_button_home {
  /* color: #00a94f !important;
  background: white !important;
  text-transform: capitalize;
  font-weight: 600;
  border-radius: 5px !important;
  margin-top: 10px;
  border: 1px solid #00a94f !important; */
}

.contact_us_button_home:hover {
  /* font-weight: 600;
  font-size: 14px;
  line-height: 18px; */
  color: white !important;
  /* margin-right: 20px; */
  text-decoration: none;
  background: #00a94f !important;
  /* height: 70%; */
  /* align-items: center;
  justify-content: center; */
  /* padding: 0px 20px; */
  /* border-radius: 10px !important; */
  border: 1px solid white !important;
}

@media only screen and (min-width: 376px) {
  .top_row_in_home {
    /* background-size: contain; */
  }

  /* .text_with_typing {
    font-size: 14px !important;
  } */
  .top_row_in_home .row {
    margin: 0px !important;
  }
}

@media only screen and (min-width: 426px) {
  .top_row_in_home {
    /* background-size: contain; */
  }
}

@media only screen and (min-width: 769px) {
  .top_row_in_home {
  }
}

@media only screen and (min-width: 1850px) {
  .micrositeLogo {
    height: 660px;
  }
}
