/* .carousel .carousel-indicators li {background-color: red;}
.carousel .carousel-indicators li.active {background-color: blue;} */


.my__carousel_main div ol li {
    border-radius: 50%;
    height: 10px;
    width: 10px; 
    border: 1px solid #D8AF28;
    /* position: relative; */
    
    
    background-color: #D8AF28;
}





.my__carousel_main div ol{
    /* position: relative;
    bottom: 0;
    left: 0; */
    /* border: 1px solid blue; */
}

/* .my__carousel_main div ol li:active{
    /* border: 1px solid black; */

/* } */ 
.my__carousel_main div{
    /* margin-top: 1000px; */
    position: relative;
   bottom: 0;
   left: 0;
   /* border: 1px solid red; */

}
.my__carousel_main div ol li:hover{
    cursor: pointer;
   /* border: 1px solid red; */

}
.supportRequestHeadingDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
}

.yellowDot{
    display: none;
    height: 20px;
    width: 20px;
    background-color: #E7B100;
    border-radius: 50%;
    border: 1px solid #E7B100;
}