.connectorform .connectormainheading {
  color: #3d4a52;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  margin-top: 8% !important;
  text-align: start;
  margin-left: 6%;
}
.connectorform .supportViewDetailsbackimage {
  margin-left: 14px;
  font-weight: 400;
  font-size: 14px;
  font-family: "Open Sans";
  color: #3491ee;
  margin-top: 0px;
  margin-left: 7%;
}
.connectorform .link1 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  margin-top: 2%;
  text-align: center;
  padding-left: 30%;
}
.connectorform .link2 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  margin-top: 2%;
  padding-left: 20%;
}
.connectorform .department {
  padding-left: 8%;
  /* margin-top: 2%; */
  text-align: left;
}
.connectorform .project {
  /* margin-top: 2%; */
  text-align: left;
}
.connectorform .connector {
  margin-top: 2%;
  text-align: left;
  padding-left: 7.5%;
}
.connectorform .connectorName {
  width: 83%;
}
.connectorform .Name {
  margin-top: 2.7% !important;
  margin-left: 7%;
  text-align: left;
}
.connectorform .dataset {
  margin-top: 2%;
  text-align: left;
}
.connectorform .dockerName {
  width: 92%;
}
.connectorform .docker {
  margin-top: 2.7% !important;
  padding-left: 8.5%;
  text-align: left;
}
.connectorform .port {
  margin-top: 2.7% !important;
  padding-left: 2% !important;
  text-align: left;
}
.connectorform .portName {
  width: 80%;
}
.connectorform .description {
  float: left;
  /* width: 80% !important; */
  margin-top: 5%;
  /* padding-left: 2% !important; */
  text-align: left;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  margin-left: 7%;
}
.connectorform .descriptionName {
  width: 83.5% !important;
}
.connectorform .uploadheading {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #3d4a52;
  float: left;
  margin-left: 7.5%;
  margin-top: 3%;
  margin-bottom: 1%;
}
.connectorform .fileupload {
  padding-left: 8.5%;
  padding-right: 10%;
}
