.branding {
  height: 1090px;
}

.Bannerupload {
  position: absolute;
  width: 420px;
  height: 218px;
  left: 119px;
  top: 100px;
  padding: 20px;
  background: #ffffff;
  border: 1px dashed #d8af28;
  border-radius: 2px;
}
.bannertitle {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;

  color: #3d4a52;
}
.dragdroptext {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;

  /* sub-headings */

  color: #a3b0b8;
}

.uploadBannerimg {
  padding-bottom: 10px;
}
.Banneruploadbtn {
  border: none;
  background-color: inherit;
  /* padding: 14px 28px; */
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  padding-top: 5px;
}
.brandingtitle {
  position: absolute;
  width: 252px;
  height: 27px;
  left: 819px;
  top: 197px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #3d4a52;
}
.colortitle {
  position: absolute;
  width: 128px;
  height: 27px;
  left: 839px;
  top: 542px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;

  /* headings */

  color: #3d4a52;
}
.brandinglogoname {
  position: absolute;
  width: 420px;
  height: 18px;
  left: 827px;
  top: 478px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;

  /* sub-headings */

  color: #a3b0b8;
}
.filename {
  position: absolute;
  width: 420px;
  height: 18px;
  left: 827px;
  top: 1368px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;

  /* sub-headings */

  color: #a3b0b8;
}
/*
.oversizemb {
  position: absolute;
  width: 420px;
  height: 18px;
  left: 827px;
  top: 1288px;
  color: red !important;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;

  /* sub-headings 

  color: #a3b0b8;
}
*/

.oversizemb-brandionglogo {
  position: absolute;
  width: 420px;
  height: 18px;
  left: 827px;
  top: 500px;
  color: red !important;
  color: #ff3d00 !important;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}
.colorpicker {
  position: absolute;
  width: 420px;
  height: 185px;
  left: 839px;
  top: 580px;
  background: linear-gradient(
    293.17deg,
    rgba(101, 106, 203, 0) 41.66%,
    #ffffff 100%
  );
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #3d4a52;
}
.brandbtn {
  position: absolute;
  width: 420px;
  height: 42px;
  left: 329px;
  top: 915px;
  background-color: #c09507 !important;
  border-radius: 2px;
  text-transform: capitalize !important;
  box-shadow: none;
}
.brandbtn:hover {
  background-color: #ab8405 !important;
}

.disablebrandbtn {
  position: absolute;
  width: 420px;
  height: 42px;
  left: 329px;
  top: 915px;
  opacity: 0.5;
  border: 1px solid #c09507 !important;
  text-transform: capitalize !important;
}
.finishlaterbrandbtn {
  box-sizing: border-box;
  position: absolute;
  width: 420px;
  height: 42px;
  left: 328px;
  top: 947px;
  background: #ffffff;
  border: 1px solid #c09507 !important;
  border-radius: 2px;
  border: 1px solid #c09507 !important;
  border-radius: 2px;
  color: #585d60 !important;
  font-family: "Open Sans" !important;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  text-transform: capitalize !important;
  /* margin-bottom: 20px; */
}
.footerimg3 {
  position: absolute;
  width: 148.92px;
  height: 126.01px;
  left: 1300.09px;
  top: 1157px;
}
