.tableHead {
  /* width: 230%;
  display: flex !important;
  justify-content: space-between; */
}
.tableHead th {
  /* border: none !important; */
}
.container {
  margin: 10px 0;
  width: 95%;
  height: 500px;
}
.container > div {
  height: 100%;
}
.noDatasetText {
  display: flex;
  margin: 25% auto !important;
  flex-direction: column;
  width: 60%;
}
.primary {
  box-shadow: none;
  padding: 8px 22px !important;
  height: 48px !important;
  margin: 0px !important;
  border-radius: 8px;
}
.title {
  display: flex;
  font-size: 22px;
  font-weight: 600;
  margin: 20px 30px;
  justify-content: space-between;
}
.subTitle > p {
  font-size: 16px;
  font-weight: 500;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
