.outlined_button {
  height: 39px !important;
}
.root {
  /* max-width: 1700px; */
  width: 95%;
  margin: 0 auto;
}
.ghraphTitle {
  color: #000;
  font-size: 20px !important;
  font-weight: 600 !important;
  margin: 5px 0 !important;
}
.mainGraphContainer {
  display: flex;
  justify-content: space-between;
}
.graphContainer {
  /* max-width: 33%; */
}
.title {
  font-size: 24px !important;
  font-weight: 700 !important;
  text-align: left;
  margin: 0 10px;
}
/* .root {
  margin: 10px 50px;
} */
.filterContainer {
  /* display: flex;
  align-items: initial; */
}
.formControl {
  margin: 0 5px !important;
  min-width: 185px !important;
}
.primary_button {
  margin: 0 5px !important;
  width: 150px !important;
  height: 45px !important;
}
.outlined_button {
  margin: 0 5px !important;
  width: 150px !important;
  height: 45px !important;
  padding: 10px 20px !important;
}
.mainGraphContainer {
  margin: 20px 0;
}
.graph {
  border: 1px solid #e2e2e2;
  border-radius: 10px;
  margin: 0 5px;
  overflow-x: scroll;
  overflow-y: visible;
}
.radialGraph {
  width: 98%;
  max-width: 99%;
}
.recharts-legend-wrapper {
  border: 1px solid red !important;
}
.Bar {
  border: 1px solid red !important;
}
.padding0 {
  padding: 0 !important;
}
.graphAndDataContainer > div {
  width: 30%;
}
.buttonContainer {
  height: 50px;
  align-items: center;
  display: inline-flex;
}
.hide {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.show {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
.animatedSector {
  opacity: 1;
  transform: scale(0.93);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.animatedSectorDown {
  opacity: 1;
  transform: scale(1.07);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}
/* 
.animatedSector.active {
  opacity: 1;
  transform: scale(1); 
} */
