.get_started_image {
  height: 330px;
  width: 396px;
  margin: auto !important;
}

.font300 {
  font: 300 !important;
}

.font400 {
  font: 400 !important;
}

.font500 {
  font: 500 !important;
}
.mt50 {
  margin-top: 50px !important;
}

.font600 {
  font: 600 !important;
}

.highlight {
  font-family: Montserrat;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: 0px;
  text-align: center;
  margin: 50px auto 5px auto;
}

.texts {
  font-family: Montserrat;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;
  margin: 5px auto 25px auto;
}

.lets_get_started {
  margin: 25px auto 0px auto !important;
  padding: 10px 20px !important;
}

/* first step css */
.description {
  width: 760px;
  height: 40px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
  margin: 100px auto 40px auto;
}

.email_id_label {
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 600;
  line-height: 39px;
  letter-spacing: 0px;
  margin: 0px auto 10px auto;
  text-align: left !important;
  max-width: 564px;
}

.email_id_sub_label {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left !important;
  max-width: 564px;
  margin: 0px auto 50px auto;
}

.resend_otp_button {
  text-align: right;
  max-width: 564px;
  margin: auto;
}

.resend_main_button {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0px;
  font-weight: 700;
  background-color: unset !important;
  text-transform: none !important;
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
  width: fit-content !important;
  margin: 0px !important;
}

.resend_main_button:hover {
  color: #3366ff !important;
}

.inputs {
  /* Auto layout */

  align-items: center;
  /* padding: 16px 14px; */
  gap: 8px;
  isolation: isolate;

  max-width: 564px !important;
  height: 56px !important;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  z-index: 0;
  margin: 20px auto 20px auto;
}

.checkbox {
  width: 20px !important;
  height: 20px !important;
  background-color: white !important;
  color: #00a94f !important;
}

.agreement {
  display: flex;
  max-width: 564px !important;
  margin: 30px auto 0px auto;
}

.agreement_line {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  margin-left: 20px;
}

.send_otp_div {
  margin: 10px auto;
  max-width: 564px !important;
  text-align: right !important;
  /* border-radius: 1px solid !important; */
}

.main_box {
  margin: 0px 242px;
}

.send_otp {
  padding: 10px 20px !important;
  width: 172px !important;
  margin: 20px 0 !important;
}

.main_label {
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 600;
  line-height: 39px;
  letter-spacing: 0px;
  margin: 0px auto 10px 0px;
  text-align: left !important;
}

.sub_label {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left !important;
  margin: 0px auto 50px auto;
}

.button_grp {
  display: flex;
  /* border: 1px solid; */
  justify-content: right !important;
  align-items: center;
  width: auto;
  row-gap: 10px;
}

.finish_later {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0px;
  background-color: white !important;
}

.next_button {
  padding: 10px 20px;
  width: 172px !important;
}
.add_category_button {
  padding: 10px 20px;
  width: auto !important;
  max-width: 200px !important;
}

.margintopbottom10 {
  margin: 10px 0px !important;
}

.text_left {
  text-align: left !important;
}

.preview_logo {
  height: 60px;
  width: auto;
  max-width: 180px;
  margin: 10px;
}

.preview_box {
  /* display: flex;
  align-items: start;
  justify-content: left; */
}

.each_preview_policy {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
  border: 1px solid #919eab;
  padding: 15px;
  border-radius: 10px;
}

.document_upload_logo {
  flex: 0.1;
}

.styles {
  height: 15px !important;
}

.download_button {
  margin-left: 50px !important;
}
.link {
  max-width: 350px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}
.link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.edit_button {
  width: 172px;
}
.termsAndConditionClass {
  color: #000000;
  cursor: pointer;
  text-decoration: underline;
  text-decoration-skip-ink: auto;
  display: inline-block;
}

/* Extra small devices (phones, 320px and up) */
@media (min-width: 320px) {
  .get_started_image {
    /* height: 200px; */
    /* width: 250px; */
    /* margin: auto !important; */
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
  .link {
    max-width: 250px;
  }
}
.popConfirmClass > div > div:nth-child(2) {
  padding: 0 !important;
}
.popConfirmClass > div:nth-child(2) > div {
  padding: 0 !important;
}
