.popperTitleContainer {
  display: flex;
  margin: auto;
  align-items: center;
}

.popperContainer {
  padding: 24px !important;
  text-align: left;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 1px 1px 0px;
  border-radius: 16px;
  border: none !important;
}

.popperMessage {
  margin: 24px auto !important;
}

.deleteButton {
  background: #ff5630 !important;
  color: #ffffff !important;
  font-size: 14px !important;
  padding: 6px 12px !important;
  font-weight: 700 !important;
  border: none !important;
  margin: 0 6px !important;
}

.cancelButtonOnDelete {
  background: #ffffff !important;
  color: #212b36 !important;
  font-size: 14px !important;
  padding: 6px 12px !important;
  font-weight: 700 !important;
  border: 1px solid #cad0d6 !important;
  margin: 0 6px !important;
  /* border-radius: 16px !important; */
}

.popperButtonContainer {
  display: flex;
  flex-direction: row-reverse;
}

.popperTitleContainer>h4 {
  margin: 0 18px;
}