.footerimg {
  position: absolute;
  width: 148.92px;
  height: 126.01px;
  /* left: 1300.09px; */
  z-index: 10;
  right: 0px;
  /* bottom: 0%; */
  top: 780px !important;
  /* border: 1px solid red; */
}
