.css-o943dk-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  font-family: 'Open Sans' !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 12px !important;
  line-height: 16px !important;
  color: #096d0d;
}

.signupotp {
  width: 420px;
  height: 48px;
  left: 340px;
  top: 242px;
  color: #3d4a52 !important;
  font-family: 'Open Sans' !important;
  font-size: 14px !important;
}
