@import '../../../../Constants/CssConstants.css';
.projects{margin-left: 95px;}
.projects .supportmaindiv{margin-top:50px;margin-left:110px;margin-right:110px}
.projects .supportfilterRow{margin-left: -73px; margin-top:32px;width: 1240px;}
.projects .supportfilterCOlumn{ height:fit-content;max-width:346px;background: #FFFFFF;border: 1px solid #E4E4E4;border-radius: 2px;flex-basis:346px}
.projects .supportfilterfirstrow{ height:50px;background:#F4F4F4}
.projects .supportfiltertext{padding-top:16px;padding-left:13px}
.projects .supportfilterheadingtext{padding-top:18px;padding-left:15px}
.projects .supportfiltersecondrow{ height:54px;background:var(--theme-color);}
.projects .supportfiltersecondrowbold{ height:54px;background:#FFFFFF;border: 1px solid #F7F7F7;}
.projects .supportallicon{padding-left: 13px;padding-top: 16px;}
.projects .supportalltexticon{padding-left: 13px;padding-top: 19px;}
.projects .supportfiltercommorrow{height:54px;background:var(--theme-color)}
.projects .supportfiltercommontexticon{padding-left: 31px;padding-top: 16.5px;}
.projects .supportfiltercommontext{font-weight: 600;font-size: 14px;color: #FFFFFF;padding-left: 11px;padding-top:20px;}
.projects .supportfiltercommorrowbold{height:54px;background:#FFFFFF;border: 1px solid #F7F7F7;}
.projects .supportfiltercommontexticonbold{padding-left: 31px;padding-top: 16.5px;}
.projects .supportfiltercommontextbold{font-weight: 400;font-size: 14px;color: #3D4A52;padding-left: 11px;padding-top:20px;}
.projects .supportSecondCOlumn{ width:732px}
.projects .supportcardfirstcolumn{margin-top: 20px;text-align: left;}
.projects .supportcardfirstcolumngeo{margin-top: 20px;text-align: left; overflow: hidden; text-overflow: ellipsis; 
  display: -webkit-box;
-webkit-line-clamp: 1;
-webkit-box-orient: vertical;}
.projects .supportcardsecondcolumn{text-align: right;margin-right: 10px;margin-top: 20px;}
.projects .supportcardsecondcolumndata{text-align: right;margin-right: 20px;margin-top: 20px; overflow: hidden; text-overflow: ellipsis; 
  display: -webkit-box;
-webkit-line-clamp: 1;
-webkit-box-orient: vertical;}
.projects .supportcardmargintop{margin-top: -19px;}
.projects .supportcardmargintop20px{margin-top:20px}
.projects .supportcardmargintop0px{margin-top:0px}
.projects .supportcard .MuiCardHeader-title{font-weight: 600 !important;font-size: 14px !important; color: #3D4A52;}
.projects .supportfilterthirdrow{ height:171px;background:#FFFFFF}
.projects .supportfilterthirdrowhighlight{ height:171px;background:#FFF7DC}
.projects .supportfilterthirdrowheadingtext{padding-top:18px;padding-left:13px}
.projects .supportcardfromdate{margin-top: 54px;margin-left: -51px;width: 150px;}
.projects .supportcardtodate{margin-top: 54px;margin-left:20px;width: 150px;}
.projects .supportsubmitbrn .btncolor{color: var(--theme-color);border-color:var(--theme-color);border-radius:0;text-transform:capitalize;background: #FFFFFF; border: 1px solid #D8AF28;border-radius: 2px} 
.projects .supportsubmitbrn{margin-left: 218px;}
.projects .marginleft165px{margin-left: 165px;}
.projects .disbaledatesubmitbtn{right:35px;text-transform: capitalize !important;border-radius: 2px; background: #FFFFFF !important;border:1px solid #C09507 !important;color:#585D60 !important;opacity: 0.5;  width: 116px; height: 34px; }
.projects button.enabledatesubmitbtn{right:35px;text-transform: capitalize !important;color: #FFFFFF;height:42px; background:#C09507 !important;border-radius: 2px;border:2px solid #C09507 !important; width: 116px; height: 34px; }
.projects button.enabledatesubmitbtn:hover{right:35px;background-color: #C09507 !important;}
.projects .supportcardsecondclosedcolumndata {text-align: right; margin-right: 9px; margin-top: 20px;}
.projects .supportcardfromdate .MuiTextField-root{background: #F1F1F1;}
.projects .supportcardtodate .MuiTextField-root{background: #F1F1F1;}
.projects .supportfirstmaindiv{margin-left: 70px;margin-right: 70px;background: #FCFCFC;}
.projects .supportViewDetailsback{margin-left: 14px;font-weight: 400;font-size: 14px; color: #3491EE;}
.projects .supportViewDetailsbackimage{margin-left: 94px;margin-top: 54px;text-align: left;cursor: pointer;}
.projects .supportViewDeatilsSecondRow{border: 1px solid rgba(238, 238, 238, 0.5);margin-top:23px;}
.projects .cardConnectorName{font-size:14px;font-weight:400;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width: 100px;margin-top: 20px;text-align: left;}
.projects .cardProjectName{font-size:14px;font-weight:400;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width: 100px;margin-top: 20px;text-align: left;}
.projects .oversizemb-uploadimglogo {
    width: 100%;
    color: red;
  }
.projects .marginrowtop8px{margin-top:8px}
/* .resolution textarea{border: none;
    border-bottom: 1px solid black;
    background: #F1F1F1;
    border-radius: 2px;
} */
.projects .messagedescription{
height: 117px;
background: #FFFFFF;
border: 1px solid #F9EABC;
border-radius: 2px;
overflow: scroll;
width: 306px;
padding: 10px;
}
.projects .nodataavailable{
  margin-left: 50%;
  margin-top: 10%;
}
