.highlitedImg {
  background: #ffffff;
  border: 1px solid #f2f3f5;
  box-shadow: -40px 40px 80px rgba(145, 158, 171, 0.16);
  border-radius: 16px;
  padding: 90px 45px;
  /* max-width: 25%; */
  margin: 30px 0;
}

/* .highlitedImg>img {
  width: 179px;
  height: 90px;
} */

.highlitedImgSm {
  background: #ffffff;
  border: 1px solid #f2f3f5;
  box-shadow: -40px 40px 80px rgba(145, 158, 171, 0.16);
  border-radius: 16px;
  padding: 45px 45px;
  margin: 30px 0;
}

.container {
  text-align: left;
  margin-left: 30px;
  margin-right: 30px;
}

.containerMain {
  margin-left: 144px;
  margin-right: 144px;
  text-align: left;
}

.buttonContainer {
  display: flex;
  justify-content: end;
}
.buttonContainer > button {
  width: 33%;
  margin: auto;
}

.outlined_button {
  padding: 5px !important;
  margin: auto 10px !important;
}

.loadMoreButton {
  width: 100%;
  box-shadow: none;
  margin-top: 50px !important;
  margin-bottom: 50px !important;
  font-family: "Montserrat" !important;
  font-weight: 700 !important;
  font-size: 15px !important;
}

.buttonContainer {
  align-items: center;
}
.buttonContainer > div {
  margin: auto;
}

.section {
  margin-top: 100px !important;
}

.textRow {
  margin: 15px 0 30px 0;
}

.backButton {
  /* margin-top: 50px !important;
  margin-bottom: 50px !important; */
  margin: 0 15px !important;
}

.backButtonContainer {
  display: flex;
  flex-direction: row-reverse;
  padding: 50px 0;
}

.backButtonContainerAlingCenter {
  padding: 50px 0;
  display: flex;
  justify-content: center;
}

.borderNone {
  border: none !important;
  margin: 0 15px !important;
}

.primary_button {
  margin: 0 15px !important;
  padding: 10px 35px !important;
}

.highlitedText {
  word-wrap: break-word;
}

.firstLetterOnLogo {
  text-align: center;
  font-size: 60px;
}

.noDataBox {
  text-align: center;
  border-radius: 15px;
  background-color: #ffffff;
  width: 100%;
}

.imgLogo {
  margin: 0 8px;
}
