.container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.mainCol {
  display: flex;
  justify-content: space-between;
}
.mainCol_mobile {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}
.mainCol_tablet {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}
.mainCol_desktop {
}

.box {
  border: 1px solid black;
  padding: 20px;
  text-align: center;
  flex: 1;
  max-width: calc(33.33% - 20px); /* 3 boxes per row */
}
.valueClass {
  color: #000;
  font-size: 18px !important;
  font-weight: 600 !important;
}
.demographyCard {
  min-width: 194px !important;
  min-height: 74px !important;
  width: 240px !important;
  border-radius: 10px !important;
  border: 1px solid #e2e2e2;
  box-shadow: none !important;
  display: inline-block;
  height: 100px;
  margin: auto;
}
.demographyCard h6 {
  font-size: 22px !important;
}
.demographyCard p {
  font-size: 22px !important;
}
.totalRecords {
  /* min-width: 300px !important; */
  min-height: 74px !important;
  margin: auto;
}
.title {
  color: #000;
  font-size: 20px !important;
  font-weight: 600 !important;
  margin: 10px 0 !important;
}
h2 {
  margin: 0;
}

p {
  margin: 5px 0;
}
