.listAndGridViewButton {
  display: flex;
  flex-direction: row-reverse;
}

.listAndGridViewButtonMd {
  /* display: flex;
  flex-direction: row-reverse; */
  display: none;
}

.listViewButton {
  display: flex;
  flex-direction: column;
}

.listAndGridViewButton > div {
  /* display: inline-block; */
  margin: 0 10px;
}

.titleContainer {
  margin: 50px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.titleContainerSm {
  margin: 52px 0px 20px;
  display: inline-block;
}

.title {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  /* min-width: 400px; */
}

.titleParentDiv {
  width: 50%;
}

.titleSm {
  text-align: left;
  color: #585d60;
}

.loadMoreButton {
  width: 100%;
  box-shadow: none;
  margin-top: 50px;
  min-width: 350px;
}

.pButtonStyle {
  font-family: "Montserrat" !important;
  font-weight: 700 !important;
  font-size: 15px !important;
  line-height: 26px !important;
  margin-top: 50px !important;
  width: 368px !important;
  height: 48px !important;
  border-radius: 8px !important;
  /* background: #00A94F !important; */
  border: 1px solid rgba(0, 171, 85, 0.48) !important;
  color: #00a94f !important;
}

.pButtonStyleMd {
  font-family: "Montserrat" !important;
  font-weight: 700 !important;
  font-size: 14px !important;
  line-height: 24px !important;
  margin-top: 50px !important;
  width: 162px !important;
  height: 36px !important;
  border-radius: 8px !important;
  /* background: #00A94F !important; */
  border: 1px solid rgba(0, 171, 85, 0.48) !important;
  color: #00a94f !important;
}

.buttonContainer {
  align-items: center;
  justify-content: center;
  width: 100%;
}

.viewType {
  display: flex;
  align-items: center;
}

.activeView {
  color: #00a94f;
  cursor: pointer;
}

.inActiveView {
  color: #3d4a52;
  cursor: pointer !important;
}

.content_title {
  /* font-weight: 700; */
  /* font-size: 20px; */
  line-height: 24px;
  color: #00a94f;
  width: 287px;
  text-align: start;
  /* margin: 0px 0 30px 0; */
  padding-left: 25px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.listHeader1 {
  display: flex;
  justify-content: left;
  padding-left: 25px;
}

.cardContainer {
  /* overflow-x: hidden; */
  /* max-height: 700px;
  overflow-y: scroll; */
}

.cardContainerList {
  /* overflow-x: hidden;
  max-height: 600px;
  overflow-y: scroll; */
}

.img_container {
  margin: 50px auto;
}

.addTitle {
  justify-content: center;
}

.card {
  padding: 24px;
  max-width: 100% !important;
  max-width: 450px !important;
  height: 314;
  border: 1px solid #2cd37f !important;
  border-radius: 16px !important;
  margin: 12px;
  cursor: pointer;
  height: 314px;
}

.primary {
  box-shadow: none;
  padding: 8px 22px !important;
  height: 48px !important;
  margin: 0px !important;
  border-radius: 8px;
}
.buttonContainer > div {
  width: 33%;
  margin: auto;
}

.listAndgridViewImg {
  margin: 0 8px;
}

.listAndGridViewTextContainer {
  flex-direction: row-reverse;
  margin: 30px 0;
}

.alignLeft {
  text-align: left;
}
