.main_box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 22px;
}
.main_box_mobile {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 22px;
}
.main_box_tablet {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 22px;
}
