.title {
  text-align: left;
  padding-left: 15px;
}
.textField {
  margin: 15px !important;
}
.buttonContainer {
  display: flex;
  flex-direction: row-reverse;
}
.organisationFormContainer {
  margin: 50px auto;
}
.cancelButton,
.primaryButton {
  box-shadow: none;
}
.primaryButton {
  padding: 10px 35px;
}
.icon {
  pointer-events: none;
  position: absolute;
  right: 10px;
}
.cancelButton {
  margin: 0 6px;
}
.setCoSteward {
  display: flex;
  align-items: center;
}
.alignLeft {
  display: flex;
  justify-content: left;
}

.infoIcon {
  height: 20px;
}
.infoIcon > svg {
  height: 20px !important;
}
.title + p {
  margin-left: 15px !important;
}
