.navbarText {
  font-family: "Arial" !important;
  font-weight: 600 !important;
  font-size: 14px !important;
  line-height: 18px !important;
  color: #212b36 !important;
  margin-right: 50px !important;
  cursor: pointer;
}

.navbarSelectedText {
  font-family: "Arial" !important;
  font-weight: 600 !important;
  font-size: 14px !important;
  line-height: 18px !important;
  /* color: #00a94f !important; */
  margin-right: 50px !important;
  cursor: pointer;
  color: white !important;
}

.dotStyle {
  margin-right: 8px;
  margin-bottom: 3px;
}

.navbarContainerForHome {
  box-shadow: 0px 6px 16px rgba(145, 158, 171, 0.16);
  height: 75px;
  /* position: fixed; */
  /* top: 100px; */
  width: 100%;
  /* z-index: 100; */
  background-color: #FFFFFF !important;
  color: #212B36 !important;
}

.navbarContainer {
  box-shadow: 0px 6px 16px rgba(145, 158, 171, 0.16);
  height: 50px;
  /* position: fixed; */
  /* top: 0; */
  width: 100%;
  /* z-index: 100; */
}

.mr-50 {
  margin-right: 50px !important;
}

.sticky {
  /* position: fixed; */
  /* top: 0; */
  /* z-index: 1100; */
  background: #ffffff;
}

.navbar_each_link {
  transition: all 0.2s;
}

.navbar_each_link:hover {
  font-family: "Arial";
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #00a94f !important;
  margin-right: 20px;
  text-decoration: none;
  background: white;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;
  border-radius: 10px;
}

/* vistaar navbar style */

.new_navItem {
  color: #FFF;
  font-family: Roboto !important;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  padding: 12px;
}

.new_navItem:hover {
  background: #169455;
}