.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: 80px;
  max-height: 150px;
  height: 35%;
  border: 1px solid #e2e2e2;
  border-radius: 10px;
  margin-right: 20px;
  margin-bottom: 30px;
}

.box {
  border: 1px solid black;
  padding: 20px;
  text-align: center;
  flex: 1;
  max-width: calc(33.33% - 20px); /* 3 boxes per row */
}
.valueClass {
  color: #000;
  font-size: 18px !important;
  font-weight: 600 !important;
}
.demographyCard {
  min-width: 150px !important;
  min-height: 74px !important;
  box-shadow: none !important;
  width: 49%;
}
.totalRecords {
  min-width: 300px !important;
  min-height: 74px !important;
}
.title {
  color: #000;
  font-size: 20px !important;
  font-weight: 600 !important;
  margin: 10px 0 !important;
}
