.footerContent {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 50px;
  color: white !important;
}

.footerContentMd {
  width: 100%;
  margin-top: 50px;
  color: white !important;
}

.footerContentXl {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 50px;
  color: white !important;
}

.footerTitle {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: white !important;
}

.footerLightTextOnly {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: white !important;

  /* cursor: pointer; */
}

.footerLightText {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: white !important;

  cursor: pointer;
}

.footerDarkText {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: white !important;
}

.link {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #0038ff;
  word-wrap: break-word;
  width: 240px;
}

.flexWidth {
  flex: 0 0 33.5%;
}

.buttonText {
  font-family: "Montserrat" !important;
  font-weight: 700 !important;
  font-size: 16px !important;
  line-height: 26px !important;
}

.quickLinks:hover {
  color: white !important;
  text-decoration: underline;
}

.ml63 {
  margin-left: 63px;
}

.ml50 {
  margin-left: 50px;
}

.w268 {
  width: 268px;
}

.contact {
  width: 33%;
}

.w50 {
  width: 50%;
}

.new_navItem {
  color: #637381;
  font-family: Montserrat !important;
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
  line-height: 22px;
}

.new_navItem:hover {
  text-decoration: underline;
}

.title3 {
  font-family: "Montserrat" !important;
  font-size: 16px !important;
  font-weight: 700 !important;
  color: #212b36 !important;
  line-height: 26px !important;
  text-align: left;
  margin-top: 24px;
}

.title3_link,
a {
  font-family: "Montserrat" !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  color: #0038ff !important;
  line-height: 26px !important;
  text-decoration: underline;
  margin-left: 2px;
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
  .footerTitle {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
  }

  .footerLightText {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
  }

  .footerDarkText {
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
  }

  .link {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
  }

  .buttonText {
    font-weight: 700 !important;
    font-size: 12px !important;
    line-height: 22px !important;
  }

  .inputFieldSubscribe {
    width: 364px !important;
    height: 56px;
  }
}

@media only screen and (max-width: 600px) {
  .footerTitle {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
  }

  .footerLightText {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
  }

  .footerDarkText {
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
  }

  .link {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
  }

  .buttonText {
    font-weight: 700 !important;
    font-size: 12px !important;
    line-height: 22px !important;
  }

  .inputFieldSubscribe {
    width: 364px !important;
    height: 56px;
  }
}

.staytuned {
  display: flex;
  flex-direction: column;
}

.staytuned_tablet {
  display: flex;
  flex-direction: column;
}

.staytuned_mobile {
  display: flex;
  flex-direction: column;
}
