.on_boarding_footer {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  /* text-align: left; */
  padding: 30px;
  border-top: 1px solid #9aa1a9;
  margin: 0px !important;
  margin-top: 100px !important;
}
.bold {
  font-weight: 700;
}
.email_id {
  /* label */

  width: 300px;
  height: 26px;

  font-family: "Montserrat";
  font-style: normal;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */

  /* Text/Light/Primary */

  color: #212b36;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.email_id:hover {
  color: #0038ff;
  text-decoration: underline;
  cursor: pointer;
}
