.rightcontent {
  position: absolute;
  width: 420px;
  height: 66px;
  left: 840px;
  top: 318px;

  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;

  /* headings */

  color: #3d4a52;
}
.rightimg {
  position: absolute;
  width: 374.11px;
  height: 50.99px;
  left: 863px;
  top: 217px;
}
