.mainBarGraph {
  font-family: Open Sans;
  color: #3d4a52;
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin-top: 30px;
  /* border: 1px solid red; */
  text-overflow: ellipsis;
  overflow: hidden;
}
.barchartencloser{
border: 1px solid #E4E4E4;
 border-radius: 10px;
  /* overflowX: "auto", overflowY:"none" }} */
  overflow-x: scroll;
  overflow-y:hidden;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(0,0,0,.3);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.1);
}
