.nodatamainbox {
    /* border: 1px solid red; */
    height: 285px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.rightSideIndicator span {
    /* background-color: blue !important; */
    /* border: 1px solid red !important; */
}