.select_dataset_logo {
  text-align: left;

  /* headings */
  color: #3d4a52;
  width: 100%;
  /* margin: 10px 0px; */
  /* padding: 50px 0px 0px 0px; */

  font-weight: 600;
  font-size: 32px;
  line-height: 40px;

  color: #000000;
  font-family: "Inter", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  margin-bottom: 20px;
}

.add_dataset_btn {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  color: #3491ee;
  cursor: pointer;
}

.add_dataset_btn_dis {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  color: #4b6279;
  cursor: default;
}

.accordion_header {
  font-family: "Open Sans" !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 16px !important;
  line-height: 24px !important;
  /* identical to box height, or 150% */

  /* Text/Light/Primary */

  color: #212b36;
}

.generate_btn_parent_col {
  text-align: left;
  /* margin-top: 30px; */
}

.generate_data_btn {
  /* width: 200px !important; */
  transition: all 0.3s;
  border-radius: 8px;
  border: 1px solid #00a94f !important;
  text-transform: none !important;
  background: #00a94f !important;
  color: white !important;
  /* outline-width: 8px;
    outline-offset: -8px; */
  height: 48px;
  /* width: 100% !important; */
  text-align: center;
}

.generate_data_btn:hover {
  background: #00a94f !important;
}

.generate_data_btn:hover .download_btn {
  height: 68px !important;
  width: 68px !important;
}

.delete_btn {
  /* width: 20px !important; */
  border-radius: 8px;
  border: 1px solid #ff5630 !important;
  color: #ff5630 !important;
  text-transform: none !important;
  height: 48px;
  /* width: 100%; */
}

.delete_btn:hover {
  background-color: #ff5630 !important;
  color: white !important;
}

.save_btn {
  /* width: 20px !important; */
  border-radius: 8px;
  background-color: #00a94f !important;
  border: 1px solid #00a94f !important;
  color: white !important;
  text-transform: none !important;
  height: 48px;
  /* width: 171px; */
}

.save_btn:hover {
  background: #00a94f !important;
  color: white !important;
}

.heightwidth {
  width: 250px !important;
  height: 182px !important;
}

.download_btn {
  transition: all 0.3s ease-in-out;
  height: 64px !important;
  width: 64px !important;
  /* margin-right: 14px !important; */
}

.table_head {
  background: #f8f8f8;
  border: 1px solid #e4e4e4;
}

.accordion_detail {
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-items: center;
  text-align: left;
  padding: 10px 50px !important;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height, or 138% */

  /* Text/Light/Primary */

  color: #212b36;
}

.select_all_btn {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding: 0px 50px !important;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #212b36 !important;
}

.each_select_for_dataset {
  margin: 15px 0px;
}

.generate_data_btn_dis {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  background-color: #9aa7b5 !important;
  cursor: auto !important;
  border-radius: 8px;
  height: 48px;
  color: white !important;
  text-transform: none !important;
}

.select_file_main_col {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.already_been_selected {
}

.disabled_option {
  display: flex;
  justify-content: space-between;
}

.button {
  /* background-color: #C09507 !important; */
  height: 48px !important;
  width: 171px !important;
  color: #c09507 !important;
  border: 1px solid #c09507 !important;
}

.button:hover {
  background-color: #c09507 !important;
  color: white !important;
  outline-width: 8px;
  outline-offset: -8px;
}

.selectors {
  margin: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
}

.typeMainBox {
  border: 1px solid;
  width: 172px;
  height: 172px;
  background: #ffffff;
  border-radius: 16px;
  display: inline-block;
  cursor: pointer;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
}

.stypeMainBox {
  border: 1px solid #00a94f;
  text-transform: capitalize;
  width: 172px;
  height: 172px;
  background: #ffffff;
  border-radius: 16px;
  display: inline-block;
  cursor: pointer;
  box-shadow: 5px 10px 1px 0.5 #00a94f;
  display: flex;
  flex-direction: column;
}

.typeMainBox:hover {
  border: 2px solid #00a94f;
  /* background-color: #00A94F; */
}

.selectedTypeMainBox {
  text-align: right;
  height: 20px;
}

.selectedTypeImage {
  text-align: center;
  height: 55px;
  width: 75px;
}

.labelTypeJoin {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.SlabelTypeJoin {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.flexForBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cancelBtn {
  font-weight: 700;
  font-size: 15px;
  line-height: 26px;
  text-transform: none !important;
  /* identical to box height, or 173% */

  /* Primary/Main */
  box-shadow: none !important;
  color: #00a94f !important;
  border: none !important;
  background-color: transparent !important;
}

.cancelBtn:hover {
  color: #00a94f !important;
}

.data_before_download div:nth-child(1) {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  color: #000000;
}

.data_before_download div:nth-child(2) {
  font-weight: 600;
}

.vl {
  border-left: 1.5px solid #00a94f;
  height: 54px;
  display: inline-block;
}

.alwaysHave {
  transition: all 0.3s;
  display: block;
  height: 50px;
  border: 0.5px solid black !important;
  border-radius: 50%;
}

.hoveredOne {
  transition: all 0.3s;
  display: block;
  height: 50px;
  border: 0.5px solid black !important;
  border-radius: 8px;
}

.settingGif {
  height: 0px;
  width: 0px;
  /* transition: all 0.6s; */
  -webkit-animation: slide 3s linear infinite;
  -moz-animation: slide 3s linear infinite;
  animation: slide 3s linear infinite;
}
.file_name_break_word {
  max-width: 150px !important;
  max-height: 170px !important;
  overflow: hidden !important;
  word-break: break-all !important;
}

@-webkit-keyframes slide {
  0% {
    height: 30px;
    width: 30px;
  }

  50% {
    height: 70px;
    width: 70px;
  }

  100% {
    height: 30px;
    width: 30px;
  }
}

@-moz-keyframes slide {
  0% {
    height: 30px;
    width: 30px;
  }

  50% {
    height: 70px;
    width: 70px;
  }

  100% {
    height: 30px;
    width: 30px;
  }
}

@keyframes slide {
  0% {
    height: 30px;
    width: 30px;
  }

  50% {
    height: 70px;
    width: 70px;
  }

  100% {
    height: 30px;
    width: 30px;
  }
}

.alwaysHave:hover {
  transition: all 0.3s;
  /* height: 300px; */
  border: 1px solid black !important;
}

.backButtonMainDiv {
  display: flex;
  /* margin-left: 290px; */
  /* justify-content: space-between; */
  color: #3491ee !important;
  align-items: center;
  cursor: pointer;
}

.backButtonMainDiv .MuiSvgIcon-root {
  color: #3491ee !important;
}

.backArrowIcon {
  width: 16px;
  height: 16px;
  margin-right: 14px;
  cursor: pointer;
}

.backButtonText {
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}

/* .hideData {
    transition: all 2s;
    height: 0px;
    visibility: visible;
    display: none;
    width: 0px;
} */

/* .showMoreData {
    margin: auto;
    transition: all 2s;
    display: block;
    border: 1px solid black;
    border-radius: 16px;
    height: 300px;
    width: 400px;
    visibility: visible;
} */

/* .vl:hover .showMoreData {
    height: 300px;
    width: 400px;
    display: block;
} */
.detail_joins div:nth-child(1) {
  /* font-family: Montserrat; */
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize !important;
}

.detail_joins div:nth-child(2) {
  /* font-family: 'Montserrat'; */
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize !important;
}

.subTime {
  all: unset !important;
  font-weight: 400 !important;
  margin-left: 20px !important;
  font-size: 14px !important;
}

.eachSideJoinData {
  background: #636363 !important;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ab84057f, white) !important;
  background: -webkit-linear-gradient(to bottom, #ab84057f, white) !important;
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ab84057f, white) !important;
  background: linear-gradient(to bottom, #ab84057f, white);
  transition: all 2s cubic-bezier(1, 0, 0, 1) ease-in-out;
}

.edit_btn {
  background: white;
  padding: 5px;
  border-radius: 50%;
  transition: all 1s;
}

.edit_btn:hover {
  background: #c09507;
  padding: 4px;
  color: white !important;
}

.result_btn_shortcut_outer::before {
  height: auto;
  top: 0;
  right: 0;
  content: "";
  position: absolute;
  width: 50px;
  height: 150px;
  background: #40e0d0;
  background: -webkit-linear-gradient(to right, #ff0080, #ff8c00, #40e0d0);
  background: linear-gradient(to right, #ff0080, #ff8c00, #40e0d0);
  animation: glowing01 5s linear infinite;
  transform-origin: center;
  animation: glowing 5s linear infinite;
}

.result_btn_shortcut {
  height: auto;
}

.result_btn_shortcut:hover {
  background: #c09507;
  outline: none !important;
  border: 1px solid #c09507 !important;
}

@keyframes glowing {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.light_text {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: #000000;
}

.dark_text {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.mt100 {
  margin-top: 100px !important;
}

.h156 {
  max-height: 156px;
}

.oAuto {
  overflow: auto;
}
