@import "../../../Constants/CssConstants.css";
.supportmaindiv {
  margin-top: 50px;
  margin-left: 110px;
  margin-right: 110px;
}
.supportfilterRow {
  margin-top: 32px;
  width: 1080px;
}
.supportfilterCOlumn {
  height: "fit-content";
  max-width: 346px;
  background: #ffffff;
  border: 1px solid #e4e4e4;
  border-radius: 2px;
  flex-basis: 346px;
}
.supportfilterfirstrow {
  height: 50px;
  background: #f4f4f4;
}
.supportfiltertext {
  padding-top: 16px;
  padding-left: 13px;
}
/* .supportfilterclearall{padding-top:16px;padding-left:13px} */
.supportfilterheadingtext {
  padding-top: 18px;
  padding-left: 15px;
}
.supportfiltersecondrow {
  height: 54px;
  background: var(--theme-color);
}
.supportfiltersecondrowbold {
  height: 54px;
  background: #ffffff;
  border: 1px solid #f7f7f7;
}
.supportallicon {
  padding-left: 13px;
  padding-top: 16px;
}
.supportalltexticon {
  padding-left: 13px;
  padding-top: 19px;
}
.supportfiltercommorrow {
  height: 54px;
  background: var(--theme-color);
}
.supportfiltercommontexticon {
  padding-left: 31px;
  padding-top: 16.5px;
}
.supportfiltercommontext {
  font-weight: 600;
  font-size: 14px;
  color: #ffffff;
  padding-left: 11px;
  padding-top: 20px;
}
.supportfiltercommorrowbold {
  height: 54px;
  background: #ffffff;
  border: 1px solid #f7f7f7;
}
.supportfiltercommontexticonbold {
  padding-left: 31px;
  padding-top: 16.5px;
}
.supportfiltercommontextbold {
  font-weight: 400;
  font-size: 14px;
  color: #3d4a52;
  padding-left: 11px;
  padding-top: 20px;
}
.supportSecondCOlumn {
  width: 732px;
}
.supportcardfirstcolumn {
  margin-top: 20px;
  text-align: left;
}
.supportcardsecondcolumn {
  text-align: right;
  margin-right: 10px;
  margin-top: 20px;
}
.supportcardsecondcolumndata {
  text-align: right;
  margin-right: 20px;
  margin-top: 20px;
}
.supportcardmargintop {
  margin-top: -19px;
}
.supportcardmargintop20px {
  margin-top: 20px;
}
.supportcardmargintop0px {
  margin-top: 0px;
}
.supportcard .MuiCardHeader-title {
  font-weight: 600 !important;
  font-size: 14px !important;
  color: #3d4a52;
}
.supportfilterthirdrow {
  height: 171px;
  background: #ffffff;
}
.supportfilterthirdrowhighlight {
  height: 171px;
  background: #fff7dc;
}
.supportfilterthirdrowheadingtext {
  padding-top: 18px;
  padding-left: 13px;
}
.supportcardfromdate {
  margin-top: 54px;
  margin-left: -51px;
  width: 150px;
}
.supportcardtodate {
  margin-top: 54px;
  margin-left: 20px;
  width: 150px;
}
.supportsubmitbrn .btncolor {
  color: var(--theme-color);
  border-color: var(--theme-color);
  border-radius: 0;
  text-transform: capitalize;
  background: #ffffff;
  border: 1px solid #d8af28;
  border-radius: 2px;
}
.supportsubmitbrn {
  margin-left: 253px;
}
.marginleft165px {
  margin-left: 165px;
}
.disbaledatesubmitbtn {
  text-transform: capitalize !important;
  border-radius: 2px;
  background: #ffffff !important;
  border: 1px solid #c09507 !important;
  color: #585d60 !important;
  opacity: 0.5;
}
button.enabledatesubmitbtn {
  text-transform: capitalize !important;
  color: #ffffff;
  background: #c09507 !important;
  border-radius: 2px;
  border: 2px solid #c09507 !important;
}
button.enabledatesubmitbtn:hover {
  background-color: #c09507 !important;
}
.supportcardsecondclosedcolumndata {
  text-align: right;
  margin-right: 9px;
  margin-top: 20px;
}
.supportcardfromdate .MuiTextField-root {
  background: #f1f1f1;
}
.supportcardtodate .MuiTextField-root {
  background: #f1f1f1;
}
.supportfirstmaindiv {
  margin-left: 70px;
  margin-right: 70px;
  background: #fcfcfc;
}
.supportViewDetailsback {
  margin-left: 14px;
  font-weight: 400;
  font-size: 14px;
  color: #3491ee;
}
.supportViewDetailsbackimage {
  margin-left: 94px;
  margin-top: 54px;
  text-align: left;
  cursor: pointer;
}
.supportViewDeatilsSecondRow {
  border: 1px solid rgba(238, 238, 238, 0.5);
  margin-top: 23px;
}
.oversizemb-uploadimglogo {
  width: 100%;
  color: red;
}
.marginrowtop8px {
  margin-top: 8px;
}
.resolution textarea {
  border: none;
  border-bottom: 1px solid black;
  background: #f1f1f1;
  border-radius: 2px;
}
.messagedescription {
  height: 117px;
  background: #ffffff;
  border: 1px solid #f9eabc;
  border-radius: 2px;
  overflow: scroll;
  width: 306px;
  padding: 10px;
}
.nodataavailable {
  margin-left: 50%;
  margin-top: 10%;
}
.requestChange {
  font-weight: 400;
  font-size: 14px;
  color: #c4c4c4;
}
