.basicDetailsContainer {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
}
.dashboardContainer {
  margin: 0 144px;
  text-align: left;
}
.secondaryColor {
  color: #4e4b4b !important;
}

.title {
  /* font-weight: 700 !important; */
  /* font-size: 24px; */
}
.userBasicDataContainer {
  /* border: 1px solid #c8c3c3;
  border-radius: 10px; */
  display: flex;
  flex-direction: column;
  width: 40%;
}
.userBasicDataImgContainer {
  display: flex;
  margin: 20px 25px;
}
.userBasicDataImg {
  display: flex;
  border: 1px solid #c8c3c3;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
}
.userBasicDataImg > div {
  margin: 25px 0;
  width: 100%;
}
.userBasicDataImg > img {
  margin: 25px;
}
.userBasicData > div {
  border-left: 1px solid #c8c3c3;
  /* border-radius: 10px; */
  display: inline-flex;
  flex-direction: column;
  width: 33%;
  text-align: center;
}
.userBasicData > div:nth-child(1) {
  border: none !important;
}
/* .userBasicData > span > div {
  display: inline;
} */
.userBasicData > div > span:nth-child(2) {
  font-weight: 700;
  font-size: 35px;
  height: 50px;
  /* border: 1px solid red !important; */
}
.userBasicData > div > span:nth-child(1) {
  font-weight: 600;
}
.myAndOtherOrgDataset > span {
  margin-right: 20px;
}
.graphContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
}
.connectorsDataContainer {
  display: flex;
  justify-content: space-between;
}
.connectorsDataContainer > div {
  width: 100%;
}
.connectorsData > div {
  height: 100%;
}
.connectorsData > div > span:nth-child(1) {
  height: 40%;
  text-align: center;
  padding: 5px;
}
.userBasicData {
  border: 1px solid #c8c3c3;
  border-radius: 0 0 10px 10px;
}
.connectorsData {
  height: 130px;
}
.connectorsDataContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
}
.connectorsDataContainer > div {
  margin: 10px 0;
}
.subTitle {
  font-style: italic;
  width: 90%;
}
.userBasicDataImg img {
  height: auto;
  max-height: 90px;
}
.subTitle > p {
  font-size: 16px;
  font-weight: 500;
}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90%;
  max-width: 200px;
}
.userBasicDataForParticipant > div {
  width: 50% !important;
}
