.todoListMain{
    display: flex;
    flex-direction: column;
    justify-content: left;
    /* align-items: left; */
    background-color: #FFFCF3;
    padding: 50px 0;
}
.todoListSmallBoxContainer{
    display: flex;
    justify-content: center;

}

.todoListTextBox{
    width: 91px;
    height: 27px;
    margin-left: 70px;
    text-align: left;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
}


.totalListContainerMain{
    display: flex;
    justify-content: center;
}

.someClass{
    margin:8px;
    color: red;
}


