.positionabsoluteandwidth310andheight130andleft70andtop167{
    /* position: absolute; */
    width: 310px;
    height: 130px;
    /* display: inline-block */
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    box-sizing: border-box;
    margin: 10px;
    background-color: #FFFFFF;
    padding:26.71px 31px 26.71px 20px;
    border: 0.5px solid #FFDB64;

}

.positionabsoluteandwidth310andheight130andleft70andtop167:hover{
    box-shadow: 0px 4px 20px rgba(216, 175, 40, 0.28);
    /* border: 1px solid red; */
    border: 1px solid #FFDB64;

  }
.todoListImg{
    height: 76.58px;
    width: 90px;
    /* margin: ; */
    
}

.todoListTitle{
    /* width: 109px; */
    /* height: 60px; */
    font-size: 18px;
    margin: 10px 0px 8px 40px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    text-align: left;
    /* color: red; */


}
