.loginMainDiv{
  width:1440px; 
  /* height: 100vh; */
  margin:0 auto;
  position:relative
}

.headertext {
  /* text-align: center; */
  /* margin-top: 10%;
    margin-left: 5%; */

  position: absolute;
  width: 582px;
  height: 54px;
  left: 99px;
  top: 197px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 54.47px;
  color: #585d60;
}
