.guestUserContactUsHeading {
  font-size: 40px;
  font-weight: 600;
  line-height: 54px;
  color: #585d60;
  text-align: left;
  margin: 55px 940px 52.5px 290px;
}

.guestUserRow {
  margin-left: 290px;
  margin-right: 290px;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;

  /* justify-content: space-between; */
  /* text-align: left;
  align-items: left; */
}
.guestUserDatahubAdminDetails {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #3d4a52;
  font-style: normal;
  /* border: 1px solid red; */
  width: 300px;
  text-overflow: ellipsis;
  overflow: hidden;
  /* or 19px */
}

.guestUserEachRowCol {
  padding: 0;
  /* border: 1px solid red; */
  max-width: fit-content;
  text-align: left;
}
.backButtonMainDiv {
  display: flex;
  margin-left: 290px;
  /* justify-content: space-between; */
  color: #3491ee;
  align-items: center;
  cursor: pointer;
}
.backArrowIcon {
  width: 16px;
  height: 16px;
  margin-right: 14px;
  cursor: pointer;
}
.backButtonText {
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}

.guestDividerHr {
  border: 1px solid rgba(238, 238, 238, 0.5);
  height: 0;
}

.guestUserFormHead {
  font-size: 20px;
  font-weight: 700;
  color: #3d4a52;
  margin-left: 290px;
  margin-bottom: 30px;
  margin-top: 50px;
  text-align: left;
  /* border: 1px solid red; */
  padding: 0;
  width: fit-content;
}

.marginLeftRight290 {
  margin-left: 290px;
  margin-right: 290px;
}

.guestUserSubmitButton {
  margin-top: 50px;
  border: 2px solid red;
  /* width: 420px; */
  /* height: 39px; */
  /* margin-left: 510px;
  margin-right: 510px; */
  /* text-transform: capitalize; */
}


/* .submitbtn:hover{
    border: 1px solid black !important;
} */

.submitbtn {
    width: 420px !important;
    text-transform: capitalize;
    color: #ffffff;
    height: 42px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 700;
    background: #c09507;
    border-radius: 2px;
    border: 2px solid #c09507 !important;
    box-shadow: none !important;
  }
  .submitbtn:hover {
    background-color: #ab8405 !important;
    color: white !important;
  }

  .css-19mk8g1-MuiInputBase-root-MuiFilledInput-root:after {
    border-bottom: 2px solid #c09507 !important;
  }