.counter {
  position: absolute;
  width: 36px;
  height: 19px;
  left: 1214px;
  top: 360px !important;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  color: #a3b0b8;

  box-sizing: border-box;

  position: absolute;
  width: 54px;
  height: 25px;
  left: 1205px;
  top: 382px;

  background: #ffffff;
  border: 1px solid #dadada;
  border-radius: 17px;
}
.resendotp {
  position: absolute;
  /* width: 79px; */
  /* height: 19px; */
  left: 1181px;
  top: 455px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-decoration-line: underline;
  color: #3491ee;
  background: none;
  border: none;
}
.disabledotp {
  position: absolute;
  /* width: 79px; */
  /* height: 19px; */
  left: 1181px;
  top: 455px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-decoration-line: underline;
  color: #3491ee;
  background: none;
  border: none;

  opacity: 0.4;
}
