.signupemail {
  width: 420px;
  height: 48px;
  left: 340px;
  top: 242px;
  color: #3d4a52 !important;
  font-family: 'Open Sans' !important;
  font-size: 14px !important;
}

/*
.signupemail .css-o943dk-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  color: #a3b0b8 !important;
}
.signupemail .css-19mk8g1-MuiInputBase-root-MuiFilledInput-root:after {
  border-bottom: 2px solid #a3b0b8 !important;
}

.signupemail .MuiFilledInput-input {
  color: #3d4a52 !important;
}
*/

.Signupbtn {
  position: absolute;
  width: 420px;
  height: 42px;
  left: 340px;
  top: 310px;
  font-family: 'Open Sans' !important;
  background-color: #c09507 !important;
  text-transform: capitalize !important;

  font-family: 'Open Sans' !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 14px !important;
  line-height: 19px !important;
  /* identical to box height */

  color: #ffffff !important;
  box-shadow: none !important;
}

.Signupbtn:hover {
  background-color: #ab8405 !important;
}

.css-1rwt2y5-MuiButtonBase-root-MuiButton-root.Mui-disabled {
  font-family: 'Open Sans' !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 14px !important;
  line-height: 19px !important;
}
.css-sghohy-MuiButtonBase-root-MuiButton-root {
  font-family: 'Open Sans' !important;
  background-color: #c09507 !important;
}
.disablebtn {
  box-sizing: border-box;
  position: absolute;
  width: 420px;
  height: 42px;
  left: 340px;
  top: 310px;
  background: #ffffff;
  opacity: 0.5;
  border: 1px solid #c09507 !important;
  border-radius: 2px;
  text-transform: capitalize !important;
  font-family: 'Open Sans' !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 14px !important;
  line-height: 19px !important;
}
