.card:hover {
  box-shadow: -40px 40px 80px rgba(145, 158, 171, 0.16);
  cursor: pointer;
  border: 1px solid #00a94f !important;
}

.card {
  max-width: 450px;
  width: 350px;
  height: 314px;
  border: 1px solid #f2f3f5 !important;
  border-radius: 16px !important;
  margin: 15px;
  height: 314px;
}

.img_container {
  margin: 40px 53px 30px 40px;
}

.content_title {
  /* font-family: "Montserrat"; */
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #00a94f;
  width: 287px;
  text-align: start;
  margin: 0px 41px 30px 40px !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content_title_sm {
  /* font-family: "Montserrat"; */
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #00a94f;
  max-width: 287px;
  text-align: start;
  margin: 0px 41px 30px 40px !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content_text {
  /* margin-left: 40px; */
  margin-bottom: 30px;
  margin-top: 30px;
}

.content_text1 {
  /* font-family: "Montserrat"; */
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: start;
  color: #000000;
  text-align: left;
}

.content_text1_sm {
  /* font-family: "Montserrat"; */
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: start;
  color: #000000;
  text-align: left;
}

.content_text2 {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: start;
  color: #000000;
  margin-top: 2px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 150px;
}

.content_text2_sm {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  text-align: start;
  color: #000000;
  margin-top: 2px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 150px;
}

.displayFlex {
  display: flex;
  justify-content: space-around;
  margin: 0 40px;
  width: 83%;
}

.img {
  max-width: 251px;
  width: auto;
  height: 76px;
  margin-left: 0;
  display: block;
}

.imgSm {
  width: auto;
  max-width: 230px;
  height: 76px;
  display: block;
}

.firstLetterOnLogo {
  text-align: left;
  font-size: 60px;
}
