.text_left {
  text-align: left !important;
}
.file_table_column {
  font-family: Montserrat !important;
  font-weight: 600 !important;
  font-size: 16px !important;
  line-height: 22.19px !important;
  color: #3d4a52 !important;
}

.button_grp {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 20px;
}
.approve_button {
  padding: 10px 20px !important;
  width: 171px !important;
}

.reject_button {
  width: 171px !important;
  text-transform: none !important;
}

.link_name {
  /* color: #3366ff !important; */
  /* cursor: pointer; */
}
.link_name:hover {
  /* text-decoration: underline; */
}

.each_value_in_div {
  min-width: 175px;
  /* width: 150px; */
  max-width: 240px;
  /* border: 1px solid; */
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.request_card {
  padding: 10px;
}
.b_right {
  /* border-right: 1px solid rgba(238, 238, 238, 0.5); */
  border-right: none !important;
}

.request_card:hover {
  background: #fafffc;
}
.eachColForConsume:hover {
  color: #00a94f;
}

.request_access {
  color: white !important;
  background-color: #3366ff !important;
  border-radius: 6px !important;
  font-family: Montserrat !important;
  text-transform: none !important;
  width: 250px;
}
.close,
.copy {
  all: unset;
  padding: 6px 16px;
  text-transform: capitalize !important;
}
.copy {
  color: white !important;
  background-color: #00a94f !important;
  border-radius: 6px !important;
  font-family: Montserrat !important;
}
