.reject,
.approve,
.rejected,
.approved {
  all: unset;
  padding: 6px 16px;
  text-transform: capitalize !important;
}
/* .reject:disabled,
.approve:disabled,
.rejected:disabled,
.approved:disabled {
  background-color: rgba(240, 248, 255, 0.271) !important;
  color: black !important;
} */
.approve:disabled {
  background-color: #4cc5899c !important;
  color: rgba(0, 0, 0, 0.545) !important;
}
.reject {
  border: 1px solid #00a94f !important;
  color: #00a94f !important;
  background-color: white !important;
  border-radius: 6px !important;
  font-family: Montserrat !important;
}
.rejected {
  border: 1px solid red !important;
  color: red !important;
  background-color: white !important;
  border-radius: 6px !important;
  font-family: Montserrat !important;
}
.approved {
  color: white !important;
  background-color: #3366ff !important;
  border-radius: 6px !important;
  font-family: Montserrat !important;
}
.approve {
  color: white !important;
  background-color: #00a94f !important;
  border-radius: 6px !important;
  font-family: Montserrat !important;
}
.main_table_div {
  font-family: Montserrat, sans-serif;
}

/* .prev_button:disabled,
.next_button:disabled {
  color: #666 !important;
  border: 1px solid;
  cursor: not-allowed;

} */
.link:hover {
  text-decoration: underline !important;
}
