.orgsetting .title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #3d4a52;
  padding-left: 18%;
  padding-top: 3%;
}
.orgsetting .name {
  width: 80% !important;
  margin-top: 5%;
  margin-left: 35%;
}
.orgsetting .email {
  width: 80% !important;
  margin-top: 5%;
  margin-left: 10%;
}
.orgsetting .website {
  width: 80% !important;
  margin-top: 5%;
  margin-left: 10%;
}

.orgsetting .phonenumber {
  width: 80% !important;
  margin-top: 5%;
  margin-left: 35%;
}

.orgsetting .address {
  width: 80% !important;
  margin-top: 5%;
  margin-left: 10%;
}
.orgsetting .city {
  width: 80% !important;
  margin-top: 5%;
  margin-left: 35%;
}
.orgsetting .country {
  z-index: 4;
  /* background-color: grey; */
  width: 80% !important;
  margin-top: 5%;
  margin-left: 10%;
  text-align: left;
}
.orgsetting .orgdestitle {
  width: 80% !important;
  margin-top: 10%;
  margin-left: 18%;
  z-index: 0;
  text-align: left;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #a3b0b8;
  margin-bottom: 0px !important;
}
.orgsetting .orgrte {
  /* width: 80% !important; */
  margin-left: 17%;
  /* min-width: 100%; */
  width: 80.5%;
}

.BannerOrgupload {
  background: #ffffff;
  border: 1px dashed #d8af28;
  border-radius: 2px;
  margin-top: 8%;
  margin-left: 24%;
  width: 300%;
  height: 218px;
}
.BannerOrgupload .uploadtitle {
  padding-top: 1%;
}
.uploadorgimgname {
  text-align: center;
  margin-left: 70%;
  width: 100%;
}
.oversizemb-uploadimgOrglogo {
  margin-left: 70%;
  width: 100%;
  color: red;
}
