.container {
  display: flex;
  flex-wrap: wrap;
  width: 99%;
  height: 80px;
  border: 1px solid #e2e2e2;
  border-radius: 10px;
  margin-right: 20px;
  margin-bottom: 30px;
}

.valueClass {
  color: #000;
  font-size: 18px !important;
  font-weight: 600 !important;
}
.demographyCard {
  min-width: 100px !important;
  min-height: 74px !important;
  /* border-radius: 10px !important; */
  /* border: 1px solid #e2e2e2; */
  box-shadow: none !important;
  width: 33%;
}
.title {
  color: #000;
  font-size: 20px !important;
  font-weight: 600 !important;
  margin: 7px 0 !important;
}
h2 {
  margin: 0;
}

p {
  margin: 5px 0;
}
