.supportRequestDetailMain{
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    /* border: 1px solid red; */

}

.supportRequestDetailTopThreeBlocks{
    display: flex;
    justify-content: space-between;
    border: 0.1px solid #E4E4E4;
    height: 98px;
    margin-bottom: 21px;
    transform: matrix(1, 0, 0, 1, 0, 0);;
}
.supportRequestDetailTopThreeBlockEach{
    display: flex;
    flex-direction: column;
    justify-content: left;
    border: 1px solid #E4E4E4;
    width: 100%;
    text-align: left;
    padding: 20px;
   
}
.supportRequestDetailTopThreeBlockEachText{
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #585D60;
  
}
.supportRequestDetailTopThreeBlockEachValueText{
    font-size: 24px;
    line-height: 33px;
    font-weight: 700;
    /* color: #585D60; */
    color: #3D4A52;
    font-weight: 400;
    /* text-transform:capitalize; */
}

.secondHeading{
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    text-align: left;
    /* border: 1px solid red; */
    /* margin-bottom: 160px; */
    
}
.supportRequestDetailBottomSixBlocksMain{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    margin-top: 16px;
}

.supportRequestDetailBottomSixBlocksEach{
    display: flex;
    flex-direction: column;
    text-align: left;
    /* align-items: center ; */
    justify-content: space-evenly;

}

.supportRequestDetailBottomSixBlocksEachBlockTitleText{
    font-size: 14px;
    line-height: 19px;
    font-weight: 600;
    color: #3D4A52;
    margin-bottom: 5px;
}

.supportRequestDetailBottomSixBlocksEachBlockValue{
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 5px;
    /* text-transform:; */
}

.viewDetailsButton{
    background: #FFFFFF;
border: 1px solid #D8AF28;
border-radius: 2px;
font-weight: 400;
font-size: 14px;
line-height: 19px;
color: #C09507;
width: 116px;
height: 34px;

}

.text-transform-capital{
    text-transform: capitalize;
}