.connectorStatisticsMainBox{
    width: 1300px;
    /* border-radius: 10px; */
    margin: auto;
    margin-top: 30px;
   
}
.connectorStatisticsHeading{
    text-align: left;
    font-size: 20px;
    color: #3D4A52;
    font-weight: 700;
    margin-bottom: 20px;

}
/* .thead{
    border-radius: 10px;
    border: 1px solid blue;
    border-top-left-radius: 100px;
} */
.nodatacenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tableConnector{
    
    /* justify-content: space-evenly; */
         border-collapse: collapse;
        border-radius: 10px;
        /* border-style: hidden; hide standard table (collapsed) border */
        justify-content: space-evenly;
        width: 1300px;
    }
    table{
        border-collapse: collapse;
        border-radius: 10px;
        border-style: hidden; /* hide standard table (collapsed) border */
        box-shadow: 0 0 0 1px #E4E4E4 !important;
        /* border: 1px solid #E4E4E4; */
}
.tableConnectortrth{
    /* border: 1px solid red; */
    /* border: 1px solid #E4E4E4; */
    /* border: ;
} */
height: 52px;
border-bottom: 1px solid rgba(238, 238, 238, 0.5);
/* width: 375px; */


}
.tableConnectortrth th{
    text-align: left;
    padding-left: 20px;
    width:315px

}

.tableConnectortrtd{
    /* border: 1px solid red; */
border:1px solid rgba(238, 238, 238, 0.5);
    
/* width:375px */
}
.tableConnectortrtd td{
    text-align: left;
    padding-left: 20px;
    height: 40px;
    width: 315px;
    max-width: 315px;
    /* border:1px solid green; */
    overflow: hidden;
    text-overflow: ellipsis;
    
}