.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 64px;
  line-height: 78px;
  text-align: center;
  color: #585d60;
  margin-top: 50px;
}

.title_sm {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 78px;
  text-align: center;
  color: #585d60;
  margin-top: 50px;
}

.description {
  font-family: "Montserrat", sans-serif;
  font-weight: 400 !important;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  color: #000000;
  margin-top: 32px;
  width: 956px;
}

.description_md {
  font-family: "Montserrat", sans-serif;
  font-weight: 400 !important;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  margin-top: 32px;
}

.description_sm {
  font-family: "Montserrat", sans-serif;
  font-weight: 400 !important;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  color: #000000;
  margin-top: 32px;
}

.titleContainer {
  justify-content: center;
  flex-direction: column;
}
