.mt114 {
  margin-top: 114px;
}

.mt10 {
  margin-top: 10px !important;
}

.mb139 {
  margin-bottom: 139px;
}

.mt23 {
  margin-top: 23px;
}

.mb13 {
  margin-bottom: 13px;
}

.mb7 {
  margin-bottom: 7px;
}

.ml10 {
  margin-left: 10px;
}

.ml9 {
  margin-left: 9.6px !important;
}

.ml7 {
  margin-left: 7.6px !important;
}

.ml80 {
  margin-left: 80px;
}

.ml84 {
  margin-left: 84px;
}

.mr34 {
  margin-right: 34px !important;
}

.pt2 {
  padding-top: 2px;
}

.mtMinus11 {
  margin-top: -11px;
}

.mbMinus12 {
  margin-bottom: -12px;
}

.backgroundLightGreen {
  background: #d8fbde;
}

.card_style {
  border-radius: 10px;
  border: 1px solid #919eab;
  box-shadow: none !important;
}

.lightText {
  color: #212b36 !important;
}

.gridStyle {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.joinedBy {
  width: 514px;
  height: 112px;
  border: 1px solid #00a94f;
  border-radius: 10px;
}

.joinedByLeft {
  flex: 0 0 31%;
}

.joinedByRight {
  flex: 0 0 31%;
}

.textElipsis {
  white-space: nowrap;
  width: 108px;
  overflow: hidden;
  text-overflow: ellipsis;
}
