.participantAccountSetting .title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #3d4a52;
  padding-left: 18%;
  padding-top: 3%;
}
.participantAccountSetting .firstname {
  width: 70% !important;
  margin-top: 5%;
  margin-left: 35%;
}
.participantAccountSetting .lastname {
  width: 70% !important;
  margin-top: 5%;
  margin-left: 10%;
  float: left;
}
.participantAccountSetting .email {
  width: 70% !important;
  margin-top: 5%;
  margin-left: 35%;
}
.participantAccountSetting .phonenumber {
  width: 70% !important;
  margin-top: 5%;
  margin-left: 10%;
  float: left;
}
.participantAccountSetting .uploadimgname {
  margin-left: 60%;
  width: 100%;
}
.participantAccountSetting .oversizemb-uploadimglogo {
  margin-left: 60%;
  width: 100%;
  color: red;
}

.participantAccountSetting .submitbtn {
  width: 420px !important;
  /* text-transform: capitalize; */
  color: #ffffff;
  height: 42px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 700;
  background: #c09507;
  border-radius: 2px;
  border: 2px solid #c09507 !important;
  box-shadow: none !important;
  margin-left: 16% !important;
}
.participantAccountSetting .submitbtn:hover {
  background-color: #ab8405 !important;
}

.participantAccountSetting .disbalesubmitbtn {
  /* text-transform: capitalize; */
  border-radius: 2px;
  background: #ffffff !important;
  width: 420px !important;
  height: 42px;
  margin-top: 30px;
  margin-bottom: 30px;
  border: 1px solid #c09507 !important;
  color: #585d60 !important;
  opacity: 0.5;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  margin-left: 16% !important;
}
.participantAccountSetting .cancelbtn {
  /* text-transform: capitalize; */
  border-radius: 2px;
  background: #ffffff !important;
  width: 420px !important;
  height: 42px;
  margin-top: 20px;
  border: 1px solid #c09507 !important;
  color: #585d60 !important;
  margin-bottom: 50px;
  background: #ffffff;
  border: 1px solid #c09507;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  margin-left: 16% !important;
}
